[2015-09-29 00:38] bluong opened #2819 "[Plots.Waterfall] - Setting the "total" property does not rerender"

[2015-09-29 00:54] bluong commented on #2673
If you try to call it before `total()` it also breaks.

[2015-09-29 09:47] dhruvbhatia commented on #2617
:+1: +1 labels for `Plots.Scatter` would be a great addition!

[2015-09-29 17:31] crmorford opened #2823 "Clustered and Stacked Bars"
like this:
![image](https://cloud.githubusercontent.com/assets/7527733/10172636/41273fe8-6695-11e5-8e6c-ccd49bb00eed.png)

[2015-09-29 18:58] bluong opened #2824 "[Axes.Time] - Publicize default time axis configurations"

[2015-09-30 04:20] aicioara opened #2826 "Update development guide on the README.md"
## Before

- Clone the repo
- Install global dependencies `sudo npm install grunt grunt-cli typescript -g`
- Install local dependencies `npm install`
- Run `grunt` and it will spin up a server (pointed at localhost:9999) and begin compiling the typescript code

## Suggestion

- Clone the repo
- Install global dependencies `npm install grunt grunt-cli -g`
- Install local dependencies `npm install`

[2015-09-30 09:43] ricklupton opened #2828 "How to use raw d3 to add elements to scatter plot?"
I can't find in the documentation anywhere how to extend components with d3, although I get the impression this is intended to be possible.

For example, in <http://plottablejs.org/examples/synchronized/>, to add a text element to the selectedPoint <g> which shows the current value.

This [wiki page](https://github.com/palantir/plottable/wiki/plot.getSelection%28%29-API-Proposal) suggests this is

[2015-09-30 21:29] bluong commented on #2828
Hello @ricklupton !

In the example that you suggested, I took the code and placed it in a JSFiddle here:
http://jsfiddle.net/pkktrrkb/2/

If you observe the code under the comment I wrote, I made use of the `foreground()` Plottable endpoint and d3's `append()` / `selectAll()` endpoints in order to get similar behavior to what you desire.

Note that this is done inside an interaction callback and

[2015-09-30 22:36] yunhaolucky opened #2830 "Stackedbar have wrong positions when y scale domain is reversed."

[2015-09-30 22:44] #2800 closed

[2015-09-30 22:55] ztsai commented on #2454
reopen becuz of https://github.com/palantir/plottable/pull/2749

[2015-10-01 01:04] istarnx opened #2832 "intervalTickGenerator can be very slow"
If I do TickGenerators.intervalTickGenerator(1) on a scale that ranges from 0 to N, where N is large, I can lock up the browser. For smaller values of N, say, in the 1000s, it's still pretty slow.

[2015-10-01 09:36] ricklupton commented on #2828
Thanks for the example!

For anyone else's future reference, I've modified it slightly to put the text in the correct y-position for each graph:
http://jsfiddle.net/1tthcpxL/

So I see that Components have functions `foreground()`, `content()`, and `background()`. Presumably I can use any of those as in your example, depending whether I want it behind or in front of the plot.

Can you clarify the

[2015-10-01 18:21] christinaforney commented on #2652
@bluong can you link to the moment wrapper project here when you have a chance?

[2015-10-01 19:28] #2793 closed

[2015-10-01 19:31] bluong commented on #2652
Progress is being made here https://github.com/bluong/plottable-moment

Once the project is complete, however, it will move under the Palantir umbrella.

[2015-10-01 20:12] bluong commented on #2828
`Plot.selections()` is a function on the `Plot` class that will retrieve a `d3.selection` containing all of the relevant DOM elements for the plot. `PlotEntity.selection` is a parameter on the returned `PlotEntity` object that contains a `d3.selection` pertaining the relevant DOM elements for the plot in respect to how you grabbed the `PlotEntity` (using `entitiesNearest()` etc)

[2015-10-03 00:48] christinaforney commented on #2652
https://github.com/palantir/plottable-moment Released!

[2015-10-03 00:48] #2652 closed

[2015-10-05 13:41] aicioara opened #2838 "Key Interaction Tests bug investigation"
During the refactor here https://github.com/palantir/plottable/pull/2827 we realized that if we delete the following line
[code]
from any test, random tests start failing. This indicates either:
- A problem with test encapsulation
- A problem with the event state reset (maybe you need a mouseup after a mousedown, otherwise the state is broken or something??? <- just a guess)
- A problem with our m

[2015-10-05 19:42] crmorford opened #2839 "Comparator issues on legend"
![screen shot 2015-10-05 at 12 38 12 pm](https://cloud.githubusercontent.com/assets/7527733/10291339/28a1f788-6b5e-11e5-82a0-8e63571a267a.png)

https://jsfiddle.net/5pzsk1nv/

the comparator is scrambling the alphabet :O

[2015-10-05 20:50] ztsai opened #2840 "[Testing Audit]"
Dispatchers
- [x] `keyDispatcherTests.ts`
- [x] `mouseDispatcherTests.ts`
- [x] `touchDispatcherTests.ts`

make sure subclass of `Plottable.Dispatcher` test for the functionality of its protested and private methods:

- [ ] can set and unset callbacks
- [ ] connects dispatcher to the DOM when callback is set
- [ ] unsets one callback doesn't disconnect other callbacks

[2015-10-05 20:54] bluong opened #2842 "[Table] - `componentAt(row, column)` endpoint"
There currently does not seem to be a function to get a Component at a specified location on a `Components.Table`

[2015-10-05 21:58] #2631 closed

[2015-10-05 22:41] bluong opened #2844 "[Scales.ModifiedLog] - Needs to show more ticks"
Ticks beyond the linear area are incredibly sparse

https://jsfiddle.net/bbyxt6rb/1/

[2015-10-05 22:48] crmorford opened #2845 "Modified Log Ticks can be deceptive"
At certain zoom levels, the ticks show 2, 4, 6...
Slate believes this is deceptive and may lead the user to believe they're looking at an axis with base 2.

We should tread carefully, because I vaguely remember doing this to solve the problem of people wanting intermediate ticks between 0 and 10, so we don't want to break this for the people who requested that.

![screen shot 2015-10-05 at 3 48 16

[2015-10-05 23:00] gbleaney commented on #2845
I think the image I've attached here might capture the problem a little better. The lines are labeled 2 and 8, making it look like a base 2 scale, but I think the bigger issues is that it's not clear what increments those ticks are really representing. The longest bar has a value of 203, but from the graph, I can't even figure out what order of magnitude it's supposed to be. I think labeling more

[2015-10-05 23:03] bluong commented on #2844
Duplicate of #2845 .Closing

[2015-10-05 23:03] #2844 closed

[2015-10-06 00:08] crmorford commented on #2845
Hey @gbleaney,
thanks for that image! it's definitely weird that the 100 isn't being labeled on your chart, I'll see if I can reproduce that on our end.

[2015-10-06 00:14] bluong opened #2849 "[Scales.InterpolatedColor] - Setting `range()` dispatches"
Unlike all the other scales (to my knowledge), `Scales.InterpolatedColor` is the only one that dispatches an update since it supposedly resets the scale upon range updating.

[2015-10-06 00:16] crmorford commented on #2845
![ezgif com-video-to-gif 1](https://cloud.githubusercontent.com/assets/7527733/10297167/62715a3c-6b84-11e5-840a-f03d729d24d6.gif)

On Linear Scales, we have an algorithm that spaces ticks evenly by asking "can we fit every tick?" and if the answer is no, it asks "can we fit every other tick?", "can we fit every third tick?" and so on.

We apply this to log scales, but this is case where that is no

[2015-10-06 14:54] christinaforney commented on #2845
+1 to reevaulating this for modified log - we should prioritize showing the base 10 numbers (10, 100 at this smaller scale) over the sub-ten values, but when zoomed in and the axis is more spaced it's nice to show that smaller scale for context - as requested in #1762 and #2387.

[2015-10-06 22:14] ztsai commented on #2589
http://jsfiddle.net/ztsai/zg13fjt2/5/
actually, spent more time investigating, `computedWidth` is cached and is not invalidated during `redraw` which sounds like a bug on our end

[2015-10-06 23:01] #2629 closed

[2015-10-06 23:17] #2772 closed

[2015-10-06 23:25] #2839 closed

[2015-10-06 23:55] crmorford opened #2853 "Single Bars on Bar Plot don't render with x value > 1 || value < 0"
Found by a Slate customer.
http://jsfiddle.net/j5b9f60c/26/

Additional notes:
this is ugly even when the bar plot is at x = 0
![screen shot 2015-10-06 at 4 54 50 pm](https://cloud.githubusercontent.com/assets/7527733/10325981/070fd110-6c4b-11e5-8d23-534d82cded42.png)

http://jsfiddle.net/j5b9f60c/27/

horizontal too: http://jsfiddle.net/j5b9f60c/29/

[2015-10-06 23:59] crmorford opened #2854 "Customizing number of rectangles on Interpolated Color Legend"
Feature Request from Slate
*  want the number of rectangles to be less than or equal to values in its domain
* currently: scale has a domain from [0 to 10] but the interpolated legend if stretched can have 10+ rects

[2015-10-07 00:03] crmorford opened #2855 "Intermediate ticks on interpolated color legend"
Feature request from Slate.

[2015-10-07 00:15] crmorford opened #2856 "Padding on InterpolatedColorLegend"
![image](https://cloud.githubusercontent.com/assets/7527733/10326152/a951e520-6c4c-11e5-9d5b-d63a4c8c68e7.png)
Here's an example: Slate would like to be able to place padding between the plot and legend. We don't have a way to do that right now (maybe legend.xAlignment("right"), but it isn't super customizable.

Ideally, they'd like to set a fixed amount of padding around the legend component (mea

[2015-10-07 17:59] christinaforney commented on #2853
#2857

[2015-10-07 18:36] crmorford opened #2858 "AutoDomain doesn't seem deterministic"
This Plot autoDomains both scales on Clicks
http://jsfiddle.net/j5b9f60c/53/
On each click, the bars jump around, so it seems like autoDomain is making different decisions everytime. That's weird.

[2015-10-07 18:48] crmorford commented on #2804
Hey @mato75 , I'm gonna close this out because I expect @jtlan's comment to solve your problem. Let me know if you had more issues.

[2015-10-07 18:48] #2804 closed

[2015-10-07 18:50] crmorford commented on #2828
Hey @ricklupton, I'm going to close out this issue since it seems like your problem has been resolved. Let me know if that's incorrect, and we can reopen this :)

[2015-10-07 18:56] crmorford commented on #2807
Closing because this belongs on Plottable-Website repo, but opened an issue there: https://github.com/palantir/plottable-website/issues/190

[2015-10-07 18:59] crmorford commented on #2794
@yunhaolucky  fixed this :)

[2015-10-07 18:59] #2794 closed

[2015-10-07 19:02] crmorford commented on #2731
Hey @ricklupton, same as the other issue, I'm gonna close this out since it seems like there were no followup questions. I can reopen if necessary.

[2015-10-07 19:02] #2731 closed

[2015-10-07 19:05] crmorford commented on #2610
Regression Testing in Slate has a new focus on destroy() and data updates. V0 is done and V1 is in progress, so I'm going to close out this issue.

[2015-10-07 19:06] crmorford commented on #2606
I did it!

[2015-10-07 19:06] #2606 closed

[2015-10-07 22:42] christinaforney commented on #2453
To clarify this specific request, contour would like to have two different timezones on the same axis (see screenshot from hipmunk.com that Andrei posted above). Start by adding in this functionality, and we can iterate on specific requests later on.

[2015-10-07 22:50] jtlan commented on #2853
Duplicate of #https://github.com/palantir/plottable/issues/2788.

[2015-10-07 22:56] jtlan commented on #2856
For reference, the `Table` API points are:
[code]

[2015-10-08 07:23] MarcMueltin opened #2859 "Animation: Upon data update just animate new arriving data"
Hi guys,

I would like to know if and how it is possible to not just animate the complete plot but just the new data points arriving upon updates of a plot (they arrive via a subscription to some pub/sub mechanism).
When I get new data, I concat the new data points to the already existing ones like this:

powerSeries = []
(... some processing to fill the new powerSeries array ...)
powerDataSet.dat

[2015-10-08 21:51] #2589 closed

[2015-10-08 22:40] #2635 closed

[2015-10-08 23:49] bluong opened #2861 "[Plots.StackedArea] - y0 seems to have no impact."

[2015-10-09 03:50] crmorford opened #2864 "Stacked Area isn't drawn correctly on Time Axes"
http://jsfiddle.net/yxpq4uuv/30/

![](https://cloud.githubusercontent.com/assets/7527733/10385267/1b54d6b4-6dfb-11e5-9bed-2b0bb9402e2c.png)

for comparison, it looks fine on a linear axis: http://jsfiddle.net/yxpq4uuv/31/

[2015-10-09 07:42] ricklupton commented on #2731
Yes that's fine, thanks for your help.

[2015-10-09 07:43] ricklupton commented on #2828
Yes thanks!

[2015-10-09 22:08] yunhaolucky opened #2868 "Downsampling create white space inside Stacked Area Plot"
When downsampling is enabled, there are white spaces between two areas.
Repro: http://jsfiddle.net/yxpq4uuv/36/ (You have to enable downsampling in stacked area plot first).
**Expected**: There should be no white spaces between two areas.

[2015-10-10 00:26] cmslewis commented on #1577
Double tapping here after commenting IRL a while ago - this bugfix would be a major value-add for me.

**Use Case**
I'm using `Plottable.Axes.Category` with `Plottable.Plots.Bar`. With lots of bars. On a mobile device.

**Desired:**
I'd like to show a bar for each of the 24 hours in a day, on a tiny-ish mobile screen. This results in some skinny bars, though I only want to label every 3rd hour, li

[2015-10-10 00:52] cmslewis opened #2869 "[Plots.Animator.RESET] When values update, animate from old values, not from baseline"
// Similar to https://github.com/palantir/plottable/issues/2859

Say I've rendered a `Plottable.Plots.Bar` plot using a dataset that I keep around.

[code]

The bars animate in, and everything is wonderful. However, when I update some y-values in the dataset:

[code]

I observe that the chart clears, then the bars animate from the baseline to their new values.

**Request:**
It'd be great if there

[2015-10-10 21:22] danmane commented on #2807
OK. (plottable-website is a private repo).

[2015-10-10 21:22] #2807 closed

[2015-10-12 07:02] yunhaolucky commented on #2868
We can represent data in Stacked Area Plot as `{x, y1, y2, y3}`.

A easy way to fix this problem is to draw all data who have at least one y value that is not removed in downsampling. This change significantly decrease the number of lines to be removed.

[2015-10-12 18:04] jasperSpeicher opened #2872 "Poor panning performance in safari on mac"
Hello,

I have built the Open mHealth Web Visualization library around plottable.
http://www.openmhealth.org/see-it-believe-it-the-web-visualization-library/

In Chrome, panning works great for our code. But in Safari on my mac, the performance is sluggish/broken. You can check out a fiddle here: http://jsfiddle.net/jasperspeicher/dremvboo/

I have tried removing our drag callback, which updates t

[2015-10-12 20:35] jtlan commented on #2842
Going to be helpful for testing `Table`, which currently uses `<any>`-casts to check the contents.

[2015-10-12 22:14] bluong opened #2873 "[Axis] - Base class does not have a complete implementation"
Mainly that since the class much heavily relies on their children classes to implement all of the pieces, `Axis` cannot really exist on its own.  Specifically, the `Axis` only renders a baseline, ticks marks, and annotations based on the input `_getTickValues()`.

The problem is that the labels are missing (since that is handled per `Axis` type) and `_getTickValues()` is meant to be overridden (re

[2015-10-12 22:34] drglitch commented on #2604
+1 on this. would be great to have `onInitialRenderFinish` hook to be able to grab the SVG and do various things with it (like tooltips).
ideally,it would also be per `XYPlot` descendant as opposed to entire `Table`

A workaround is setting a data attribute at this time, but its hacky.

[2015-10-13 19:08] #2842 closed

[2015-10-13 20:45] bluong commented on #2788
Repro is no longer valid.  Possibly fixed here #2857

[2015-10-13 20:45] #2788 closed

[2015-10-13 20:46] jtlan commented on #2859
Hi @MarcMueltin,

What you're asking for isn't currently possible yet, but we could probably support something like this via the "object constancy" feature described at https://github.com/palantir/plottable/issues/2512. We're looking into this now.

[2015-10-13 21:46] thelastnode opened #2877 "Interaction.enabledIf(() => boolean)"
It would be great to be able to conditionally enable an interaction based on a callback, especially for interoperating with frameworks like React.

Example:

    const dragLayer = new Plottable.Components.XDragBoxLayer()
        .onDragEnd((bounds: Plottable.Bounds) => { /* ... */ })
        .enabledIf(() => this.props.dragIsEnabled)

[2015-10-13 21:47] bluong commented on #2877
Note that this is really useful for configuration of `Interaction`s without needing to worry about order of execution

[2015-10-13 21:51] bluong commented on #2877
The issues that come along with this feature request is interacting with the `enabled()` endpoint.

One idea that I can think of is allowing `enabled()` to take in a callback.  The problem here is mainly how does the getter return?

[2015-10-13 23:06] thelastnode commented on #2877
Currently, there are two API points that interact with the enabled state of an interaction: the setter `enable(boolean)` and the getter `enabled`.

I would expect the getter `enabled` to continue to return whether the chart is current enabled or not - regardless of whether it's a call to the function passed to `enabledIf` or the value passed to `enable(boolean)`.

For the setter, I think using `en

[2015-10-13 23:18] bluong commented on #2877
However, for the getter evaluating the function, it then gets quickly annoying if a user wanted to get out the object that they used to set.

[2015-10-13 23:20] thelastnode commented on #2877
You're right, this API doesn't expose a way to get the callback function back again. Is there a case when a user would want that?

[2015-10-14 02:29] bluong opened #2879 "[DragBoxLayer] - Detaching has the layer work in pixel mode"
As seen in the JSFiddle, even though the xScale has been set, the bounds are not data-backed unless the setter is used after the table is setup

http://jsfiddle.net/zsfkg32b/23/

[2015-10-14 19:11] crmorford opened #2882 ".innerPadding doesn't affect Plots.Rectangle"
http://jsfiddle.net/wu3tyd2k/
I set .innerPadding(.1).
I'd expect some space between the rectangles here, but each rectangle is still touching all its neighbors.

[2015-10-14 20:11] crmorford commented on #2882
Ah it's a timing thing http://jsfiddle.net/07h87qbb/

[2015-10-14 20:44] crmorford opened #2883 "domain easing animations"
History Lesson:
Dan made this pull request: https://github.com/palantir/plottable/pull/2796, and we don't want to do such a tightly scoped interaction. But we could do this whole interaction with current pieces in plottable...except for smoothly transitioning domains.

I would looooovoe it if when an axis' domain changed if it slowly transitioned to the new domain.
http://jsfiddle.net/j5b9f60c/56/

[2015-10-15 05:20] nmiyake commented on #2628
Taking another look at this.

Going to separate dispatchers and interactions to further sub-divide work. Focusing on interactions first.

For each interaction, test:

##### Registration
* Register listener, fire, callback called
* Register listener, unregister listener, fire, callback not called
* Register multiple listeners, fire, all callbacks called
* Register multiple listeners, unregister one

[2015-10-15 09:33] monzou commented on #2617
:+1: +1 labels for ```Plots.Scatter``` !

I want to highlight a selected point of ```Plots.Line``` by using ```Plots.Scatter```.  It would be a great if ```Plots.Scatter``` have labels for highlighting selected value.

![highlight-label](https://cloud.githubusercontent.com/assets/212607/10509949/1d6990dc-736b-11e5-96fa-45c989d057c1.png)

@jtlan If there is any way to position labels on ```XYPlot``

[2015-10-15 18:18] NatashaOS commented on #2882
Why is it that innerPadding can only be specified on the scale AFTER it is assigned to a plot?

[2015-10-15 20:22] drglitch opened #2885 "Performance improvements for entityNearest on Line plots"
For lineplots, `Plots.Line.prototype.entityNearest` is called in a multitude of usecases when setting up interactions - these include highlighting closest point, tooltips, hovers, etc (e.g. sync lineplots example).

The in current implementation, the search algorithm retrieves full entity list (which could be  improved too) and then iterates over each and every datum, even if it clearly already fo

[2015-10-15 20:33] drglitch opened #2886 "Add ability to destroy/detach interaction without explicit reference to parent Component"
Interactions already know what parent they are attached to.
It would be great to either allow to call `.detach()` without a ref to parent plot to simply detach an interaction or create a `.destroy()` method that also automatically detaches and frees the instance.

[2015-10-15 21:24] jtlan commented on #2882
`Plots.Rectangle` sets `innerPadding()` and `outerPadding()` to `0` when it receives a `Category` scale. While this behavior makes some sense in the context of `Plots.Rectangle`, there's a weird emergent interaction, as you point out.

@crmorford Do you think it's safe to change the default behavior?

[2015-10-15 21:29] jtlan opened #2887 "[InterpolatedColorLegend] Add <title>s to swatches"
On `Legend`, there are `<title>` tags on the text so the text is still readable even if it gets cut off. We should add `<title>` tags to the swatches on `InterpolatedColorLegend` so the values associated with each swatch can be read.

Note that this should take `Configs.ADD_TITLE_ELEMENTS` into account.

[2015-10-15 21:29] jtlan commented on #2887
Might be a way to achieve the goal of #2855.

[2015-10-15 21:32] jtlan opened #2888 "General padding API for Components?"
It might be helpful to have a general API for adjusting the padding on `Component`s. Something like this perhaps:

[code]

Not sure how this interacts with the existing `padding()` API point on `Label`.

[2015-10-15 21:40] jtlan opened #2889 "[Plot (various)] Associating Labels with elements"
On `Plot`s that feature labels, the labels are usually drawn in a separate `<g>` from the main elements:
<img width="587" alt="screen shot 2015-10-15 at 2 35 03 pm" src="https://cloud.githubusercontent.com/assets/1440449/10528255/01ffec90-734a-11e5-94d2-3aca2cd4b4a4.png">

However, this separation makes it difficult to get the label that corresponds to a particular element, which is important if t

[2015-10-15 22:16] jtlan commented on #2885
@drglitch,

This is pretty cool. I'll note that calling `entities()` still takes `O(n)` -- but you said this code has been tested and produces a noticeable improvement? We'd love to see a Pull Request with this feature.

The ordering on `entities()` depends on the original order of the data. However, in almost all use cases for `Line` the data is sorted by X, and `entitiesNearest()` returns the ne

[2015-10-16 19:36] #2856 closed

[2015-10-17 00:06] bluong commented on #2888
If this endpoint turns out to encompass the capability of `Label` then we should look to deprecate the `Label` endpoint or convert its behavior.  It seems to me that this idea is stronger than `Label`'s.

Second, would it be a bad idea to borrow from the CSS API for padding?

https://developer.mozilla.org/en-US/docs/Web/CSS/padding

[2015-10-18 22:03] jtlan opened #2896 "[Table] rowPadding() and columnPadding() don't reject bad values"
Specifically, `Infinity` and negative values can be put in, resulting in odd behavior. It's possible that users might want negative padding for some edge cases, but I think that's unlikely.

[2015-10-18 22:11] jtlan opened #2897 "[Table] rowWeight() and columnWeight() don't reject bad values"
In particular, they accept negative and infinite values, which result in bad behavior and errors.

[2015-10-19 18:41] christinaforney commented on #2853
Duplicate issue has been closed

[2015-10-19 18:41] #2853 closed

[2015-10-19 20:08] christinaforney commented on #2523
Cropped rendering and downsampling complete this.

[2015-10-19 20:08] #2523 closed

[2015-10-19 22:37] drglitch commented on #2885
@jtlan

Thanks! Would love to implement this and will submit a pull request as soon as i get my TS environment back up and running :)

My primary concern is that the dataset may be unsorted - because since above algo relies on the dataset being sorted:
- in reversely-sorted datasets, this would produce correct result but scan the entities backward, which is bad but not terrible.
- in fully-unsorte

[2015-10-19 23:06] jtlan opened #2900 "[Sauce tests] iOS tests sometime time out"
See this build: https://saucelabs.com/jobs/c1e713394b9e4f69b4c725b47c159524

iOS tests time out because 1500ms isn't quite long enough, it seems.

[2015-10-19 23:29] #2624 closed

[2015-10-19 23:36] bluong commented on #2900
1.5 seconds sounds like an absurdly long time for a test to finish, though.  In the test refactor, we should aim to not have this interaction not take as long?

[2015-10-19 23:56] dannalieth opened #2901 "Timeseries zoom blanks out after certain zoom point"
Zoom out of this http://jsfiddle.net/LaLfv1oo/17/. The plot line stops showing after a certain level of zoom.

![plot](https://cloud.githubusercontent.com/assets/889197/10594464/7c5b287a-769b-11e5-997b-54cbfc0ecc5f.gif)

[2015-10-20 00:03] jtlan commented on #2901
Looks like there are no points in the view at all, causing the line to vanish.

Version with an added `Plots.Scatter` to make it clearer where the data points are: http://jsfiddle.net/LaLfv1oo/18/

[2015-10-20 00:05] bluong commented on #2901
It looks like this is due to `croppedRendering` being enabled by default.  If all of the points are not in the view window then nothing is rendered.

[2015-10-20 20:39] crmorford commented on #2882
Default behavior is that Plots.Rectangle sets innerPadding and outerPadding to 0?
I think we definitely need to keep that.
Any way to say "if it's explicitly set, use that value, otherwise use 0"?

[2015-10-20 21:08] drglitch commented on #2885
After poking around this stuff a bit more, got some new thoughts and proposals:

- propose subclassing Dataset to SortedDataset - and if that's the case, using new code path.
- alternatively, propose making all Datasets sorted internally by default, and having just 1 code path.
- for dataset sorting, quicksort can be used, which in case of dataset being sorted would be O(n) but ran only ONCE upon

[2015-10-20 22:29] #2887 closed

[2015-10-20 22:45] jtlan commented on #2882
No way to distinguish if `innerPadding()` and `outerPadding()` are default :/

[2015-10-20 23:09] bluong commented on #2885
Hello @drglitch !

It seems that there is underlying assumption that the `Dataset` must be sorted in order for this code to work.  Just curious on why not check if the `Dataset` is sorted beforehand instead of needing to create a subclass for it.  As in, have 2 code paths for `entityNearest()`: one for sorted and one for unsorted?

[2015-10-20 23:12] jtlan commented on #2885
`SortedDataset` is a neat trick for this, but the `Plot` has no guarantee that it's operating on a `SortedDataset`? What if we cached the data in sorted order inside the `Plot` itself, and updated when `x()`/`y()` were updated or the `Dataset`s were changed?

Maybe we could have a method that generates `position` from a given datum, which would allow us to set `position` on-demand?

[2015-10-21 00:59] #2828 closed

[2015-10-21 04:37] jtlan opened #2908 "Safari throws errors involving navigator.UserAgent"
![upload](https://cloud.githubusercontent.com/assets/1440449/10627797/bfc58d58-7772-11e5-81fa-d91bb186a410.png)

Looking for a more detailed repro for this, filing for awareness.

[2015-10-21 20:55] drglitch opened #2909 "[RenderController] Create RenderPolicies.Manual for more control"
Hello again,

It would be great to be able to specify a `RenderPolicies.Manual()` render policy, which, when set, would require explicit call to `.renderImmediately` for any changes to be blipped back.

This is useful for when a number of changes needs to be done to an existing chart (e.g. series added/removed/rearranged) while not rendering output to screen to avoid extra flicker and unneeded re-

[2015-10-21 21:03] drglitch commented on #2885
@bluong  i agree that having two code paths is suboptimal. The only reason would be backward compatibility - otherwise datasets would be required to be sorted (otherwise algo above produces garbage result). Would you be ok with making that change? As mentioned, if quicksort is used on dataset creation, then pre-sorted datasets would incur very little penalty (essentially a shallow copy) upon creat

[2015-10-21 21:17] bluong commented on #2885
Oh @drglitch I think I was actually thinking of being ok with having 2 different code paths.  It is suboptimal since a catch-all solution is definitely more cleaner, but a more performant path for a very specific scenario also makes sense to me.  As long as the code is documented well, this seems fine with me :)

[2015-10-21 21:48] bluong commented on #2909
Hello @drglitch !

I am looking through our `RenderPolicies` and I see that we have an `Immediate` policy.  Does that not work for you? (Essentially the Component will immediately go to the actual rendering step when render is called)

Based on your use case, I have a feeling that this Policy will still not work, and I believe I might see value in what you are proposing.  In this case, we would be

[2015-10-21 21:53] bluong commented on #2909
Also, currently the way that our rendering works is I believe that `render()` calls are gathered so that the `Component` only renders once at the next animation frame.  If you wanted a longer time in between updates, you can look into the `Timeout` `RenderPolicy` which allows a user to set the time in-between subsequent renders.

[2015-10-21 21:54] drglitch commented on #2909
@bluong Timeout (with timeout set to 5 sec) is what im using noiw as workaround - but a manual policy would be cleaner. Immediate policy doesnt work here because i am trying to avoid rendering altogether.

Give me a few days on the PR!

[2015-10-22 22:57] bluong opened #2917 "[InterpolatedColorLegend] - "right" orientation does not use the correct xAlignment"
I expect the legend to be next to the right edge when orienting it "right" similar to how Axes work.

![screen shot 2015-10-22 at 3 55 59 pm](https://cloud.githubusercontent.com/assets/1448299/10680552/a2e622b0-78d5-11e5-9f9d-c21564c87da2.png)

[2015-10-22 23:20] ztsai opened #2918 "end labels of interpolatedColorLegend are off"
right label is drawn to the left of the left label if legend is really narrow
http://jsfiddle.net/ztsai/yqf0vfev/10/
![screen shot 2015-10-22 at 2 33 10 pm](https://cloud.githubusercontent.com/assets/1817638/10680886/d209249a-78d8-11e5-91ec-3ff3465a7506.png)

labels are off for larger font
http://jsfiddle.net/ztsai/yqf0vfev/11/

![screen shot 2015-10-22 at 4 20 09 pm](https://cloud.githubuserconte

[2015-10-22 23:38] bluong opened #2919 "[InterpolatedColorLegend] - consider having length be configurable"
With the idea of gradients, it might be more flexible to have configuration for setting the length of the legend rather than having a simple `expands` API.  It now seems that `expands(false)` seems incredibly arbitrary after gradients go through.

[2015-10-23 00:47] #2627 closed

[2015-10-23 00:49] bluong opened #2920 "[Sinon] - Utilize in test code"
We've recently added the Sinon library to aide our test code.  We should look into using it.

[2015-10-23 06:07] bluong opened #2922 "[Plot] - Base class does not have a complete implementation"
Possibly due to `Plottable.Drawer`, if one tries to use `Plottable.Plot` they would not be able to use it for anything.  The plot will also throw an error when attempting to render.

We need to either:
* Explore actually having `Plottable.Plot` be usable since currently it just throws errors on usage.
* Declare `Plottable.Plot` to be an `abstract` class and then define a contract that subclasses m

[2015-10-23 08:18] mato75 opened #2924 "Category scale should also have tickGenerator"
As Linear Scale, Category Scale should also have a tickGenerator option.

[2015-10-23 20:47] istarnx opened #2925 "Exception thrown by entityNearest() on plot with no visible data"
It appears that your code doesn't handle the "no entity nearest" case in Plot.entityNearest().

[2015-10-26 15:37] raiju commented on #1863
@joyt I think this already exists: http://jsfiddle.net/LaLfv1oo/16/ (It still has a small bug, see #2901)

[2015-10-26 17:08] jtlan commented on #2924
@mato75, can you explain what this would be used for?

[2015-10-26 17:17] jtlan commented on #2925
Details: Doesn't happen on `Line` and `Bar`, which use slightly different algorithms.

[2015-10-26 17:18] jtlan commented on #2917
Probably needs the same auto-alignment feature as `Axis`.

[2015-10-26 17:20] jtlan opened #2929 "Remove plottable.d.ts from bower package"
Shipping **plottable.d.ts** with bower causes an inconsistency for projects that also use `tsd`, because the file gets included twice.

[2015-10-26 19:48] bluong commented on #2929
Have been trying to get in contact with DefinitelyTyped so that the upgrade process for typings can be a lot smoother.  I'm trying to keep starting the conversation but still no response :(

[2015-10-26 19:50] bluong commented on #2929
We can still do forked pull requests if we think that the delay between them merging the new typings and us releasing is not too significant.

[2015-10-26 22:44] aicioara commented on #2900
Some more context on this since I looked a lot into it a while ago. iPads seem to handle multiple DOM elements really badly. You can check on a physical device as well, but the more DOM nodes are added (basically the test results) the slower it gets. If you run a single test it will never exceed 100 ms.

[2015-10-27 00:05] jtlan commented on #2888
Seems *preferable* to do so, actually.

[2015-10-27 01:10] christinaforney commented on #2854
@crmorford - didn't you fix this last week? Can you link the associated PR?

[2015-10-27 01:46] jtlan commented on #2925
Issue is probably in `Plot`'s `_lightweightPlotEntityToPlotEntity()` method, which doesn't expect `undefined` as an input.

[2015-10-27 07:25] bluong opened #2932 "[XYPlot] - Detaching the plot does not stop autoranging"

[2015-10-28 04:15] basarat opened #2933 "Where are the examples source code"
Specifically I'd like to help document the fact that pie : http://plottablejs.org/components/plots/pie/ radius values are pixels https://github.com/palantir/plottable/issues/1069. The examples use `90`  and it made it look like percentage to me :rose:

[2015-10-28 07:46] bluong opened #2934 "[XYPlot] - Cannot destroy without having both x / y scales"

[2015-10-28 08:32] bluong commented on #2636
Pull requests merged.  Closing

[2015-10-28 08:32] #2636 closed

[2015-10-28 16:00] jtlan commented on #2854
Since `InterpolatedColorLegend` is continuous now this issue seems to be invalid.

[2015-10-28 18:11] #2632 closed

[2015-10-28 18:16] crmorford opened #2936 "SelectionBoxLayer and DragBoxLayer don't appear initially"
...unless it's a selectionBoxLayer set with extents
http://jsfiddle.net/cc359ufk/

[code]
![screen shot 2015-10-28 at 11 16 15 am](https://cloud.githubusercontent.com/assets/7527733/10798534/5ab7d0bc-7d65-11e5-9df2-e35efa5e0610.png)

[2015-10-28 19:39] bluong commented on #2854
We should close this unless we want to reword to the following possible enhancement:  Now that we have continuous `InterpolatedColorLegend`s, it should be decently feasible to set how far the legend extends in pixels.

[2015-10-28 19:48] bluong commented on #2936
Can we narrow down the issue title?  It seems that the title spills into the pull request description.  Let's try to summarize and make that the title

[2015-10-28 21:04] christinaforney commented on #2854
Talked to Slate - ok to close

[2015-10-28 21:04] #2854 closed

[2015-10-28 21:41] bluong opened #2937 "[XYPlot] - Deferred Rendering does not cache properly unless set before scales"

[2015-10-29 01:19] bluong commented on #2933
Hello @basarat !

Your suggestion on the documentation is duly noted.  We'll make modifications on our end to hopefully make this more clear.  Thanks!

[2015-10-29 03:46] #2630 closed

[2015-10-29 04:06] jtlan opened #2939 "[Plots.Bar] In Firefox, zero-height bars aren't selected by entitiesIn()"
**Repro**: http://jsfiddle.net/tzuLsxLw/ (open in firefox)

**Actual**: Zero-height bar isn't selected by `entitiesIn()`
**Expected** : Zero-height bar is selected

[2015-10-29 04:34] jtlan opened #2941 "[Plots.Bar] repeated autoDomain()ing with one data point changes domain"
**repro**: http://jsfiddle.net/5e19w9gy/
Click repeatedly to `autoDomain()`.

**Actual**: base `Scale` gradually zooms in.
**Expected**: `autoDomain()` should have no further effect.

[2015-10-29 19:29] jtlan commented on #2622
Probably going to do this as two PRs, one for `Drawer`s and one for `Animator`s.

[2015-11-02 13:26] mato75 opened #2944 "Cannot scroll out when time axis is 0NaN"
http://plottablejs.org/examples/spacerace/

[2015-11-04 17:26] jazzido commented on #2617
Any updates on this? It would be great to have a `LabelPlot<X, Y> extends XYPlot<X, Y>` that can be grouped together with any other `Plot`.

[2015-11-05 21:16] #2944 closed

[2015-11-05 21:22] jtlan commented on #2621
Looks like this was accomplished by https://github.com/palantir/plottable/pull/2875, https://github.com/palantir/plottable/pull/2876, https://github.com/palantir/plottable/pull/2880, and https://github.com/palantir/plottable/pull/2884.

[2015-11-05 21:22] #2621 closed

[2015-11-05 22:44] jtlan commented on #2944
Thanks for flagging this, @mato75; the example should be fixed now.

It seems like this is the same issue as https://github.com/palantir/plottable/issues/2437. We'll look into whether we should add default zoom limits on `QuantitativeScale`s.

[2015-11-05 23:01] jtlan commented on #2617
@jazzido, we had previously considered having `Plots.Label<X, Y>` as you suggested, because that seems like the most flexible way of adding labels to any `Plot` using a `Group`. However, usually it's desirable to keep labels from overlapping the visualization, meaning the positioning of the labels is dependent on the visualization (see `Plots.Bar` for an example).

[2015-11-05 23:02] jtlan commented on #2617
@monzou, if there's only one label on the `Plot`, you could probably add it by `append()`ing a `<text>` node to the `foreground()` of the `Plot` -- although at that point, it's probably easier to bring in a tooltip library.

[2015-11-06 00:18] crmorford opened #2946 "Plots.StackedBar doesn't work with duplicate x values"
If the same xValue appears within a dataset, stacked bar shifts the bar up by the amount of the first yValue
http://jsfiddle.net/x3j3Lj99/1/

![screen shot 2015-11-05 at 4 18 02 pm](https://cloud.githubusercontent.com/assets/7527733/10985749/d3be41b6-83d8-11e5-897d-445451115f1d.png)

[2015-11-06 09:22] jazzido commented on #2617
Thanks, @jtian.

What's the right way of transforming between data-coordinates and SVG-coordinates if I wanted to manually append an SVG element to a Plot's `foreground()`?

[2015-11-06 19:02] jtlan commented on #2617
@jazzido You can use the `x()` and `y()` methods of an `XYPlot` to retrieve the appropriate `Scale`s:
[code]

[2015-11-06 23:39] jtlan commented on #2925
Fixed in https://github.com/palantir/plottable/pull/2945, I believe.

[2015-11-06 23:39] #2925 closed

[2015-11-07 01:34] jtlan opened #2949 "[Plot] Adding a Dataset is not idempotent"
An added `Dataset` is first removed if it's already in the `Plot`, causing multiple updates. It would probably be more efficient to to no-op if the `Dataset` is already in the `Plot`.

[2015-11-07 01:42] jtlan opened #2950 "[Dataset] Add generics"
Might be helpful to be able to specify the type of data stored in a `Dataset`:
[code]

[2015-11-07 01:48] jtlan commented on #2933
@basarat If you add a `Scale` to the `outerRadius()` property-setter, you can specify the radius in relative units:

[code]

[2015-11-07 02:59] basarat commented on #2933
@jtlan nice! :rose:

[2015-11-07 19:42] jtlan commented on #1069
`outerRadius()` and `innerRadius()` now take `Scale`s whose ranges are set to the maximum possible radius within the space the Plot has been allocated, which should satisfy this request:

[code]

[2015-11-07 19:42] #1069 closed

[2015-11-09 22:42] jtlan commented on #2416
Reopening due to #2910.

[2015-11-09 22:45] jtlan commented on #1532
I think this is done using the `labelsEnabled()` API point on `Plots.Bar`.

[2015-11-09 22:45] #1532 closed

[2015-11-09 23:13] jtlan commented on #2922
Making `Plot` `abstract` could be a little odd, because it extends `Component`, which is decidedly *not* `abstract` (although it doesn't do anything except occupy space). On the flip side, it basically behaves as `abstract` now because it can't really be used.

[2015-11-09 23:15] jtlan commented on #2888
The return type for the `Label` implementation would have to change, making this a 2.0 change.

[2015-11-10 01:04] jtlan commented on #2886
You mean on the `Interaction` itself? It does seem odd that `detachFrom()` takes a `Component` ... and then does nothing with it (this was originally added in the event future `Interaction`s could connect to multiple `Component`s). We should probably add a `detach()` call that just disconnects the `Interaction`.

[2015-11-10 01:12] jtlan commented on #2869
Similar to https://github.com/palantir/plottable/issues/2512.

[2015-11-10 01:21] jtlan commented on #2858
Turned off the `yScale` domain-setting at the beginning, which reveals that only `xScale` jumps around:
http://jsfiddle.net/j5b9f60c/62/

Which means this is the same as #2941.

[2015-11-10 01:21] #2858 closed

[2015-11-10 15:23] drglitch commented on #2886
@jtlan yes - my thoughts exactly. a generic `detach()` that just gets rid of it would be ideal.

[2015-11-10 20:05] crmorford opened #2954 "segment should act like "bar" on category axes"
right now a slate customer is asking for this (segment plots that can show the total of a bar plot):
![segbar](https://cloud.githubusercontent.com/assets/7527733/11074160/008c91b6-87a3-11e5-9d71-e366b3f6a94a.png)

our segment plots don't expand to the width of a category, on category axes, x1 and x2 are the same point (so it looks like the segment plot isn't drawn)
https://jsfiddle.net/9djcfvh7/12

[2015-11-10 21:46] jtlan commented on #2954
Here's a demo on how to do it with more complex `x()` and `x2()` accessors:
http://jsfiddle.net/rvjrLo2b/

[2015-11-10 23:38] ztsai opened #2956 "create static variables for css class on DragBoxLayer"
`movable`, `x-resizable`, `y-resizable` should be static variables instead of hardcoded inline

[2015-11-11 06:56] jtlan commented on #2832
Just the generator, or the `Axis` visualizing the `Scale` with that `TickGenerator`? It seems unlikely that just a loop with N ~= 10k would be slow, unless those 10k objects were also being drawn.

[2015-11-11 06:59] jtlan commented on #2815
@softwords Was this fixed by #2816?

[2015-11-11 07:10] jtlan commented on #2782
Looks like the same issue as #2925, in which case @crmorford fixed it in #2945.

[2015-11-11 07:10] #2782 closed

[2015-11-11 07:11] jtlan commented on #2771
Looks like the restructuring in #2904 might take care of this.

[2015-11-11 07:21] jtlan commented on #2747
Something to consider? What's the "correct" base implementation? Do we return an `Entity` if its (x, y)-position is inside the provided ranges? That's inconsistent with the behavior on `Bar`, which returns any `Entity` whose bar intersects the ranges, regardless of if the data point is in the provided region,

[2015-11-11 07:22] jtlan commented on #2744
Partly complete with #2890, although #2895 seems to be in the process of fixing something.

[2015-11-11 07:24] jtlan commented on #2743
The above tests are being skipped because the `TickGenerator`s don't work properly in those cases.

[2015-11-11 07:31] jtlan commented on #2729
Modifying this issue, as `RenderController` already contains [a method that can retrieve the current `RenderPolicy`](https://github.com/palantir/plottable/blob/v1.16.2/plottable.d.ts#L449).

[2015-11-11 07:37] jtlan opened #2957 "[Future] Remove Plots.Wheel"
Development of it was stopped halfway, and it appears that the users who initially asked for it wound up using `Plots.Rectangle` for its use case instead. If we go to 2.0.0, we should roll it back until it is ready.

[2015-11-11 07:39] jtlan commented on #2612
Closing because this wound up being split.

[2015-11-11 07:39] #2612 closed

[2015-11-11 07:40] jtlan commented on #2957
If we do roll it back, we should be able to close the following tickets:
* https://github.com/palantir/plottable/issues/2683
* https://github.com/palantir/plottable/issues/2684
* https://github.com/palantir/plottable/issues/2693
* https://github.com/palantir/plottable/issues/2694

[2015-11-11 07:42] jtlan commented on #2661
Whoever takes this ticket should also fix any `HACKHACK`s that are `<any>`-casting around the wrong signature.

[2015-11-11 07:43] jtlan commented on #2665
Updated #2661 to cover fixing uses of `throws()` and `doesNotThrow()`.

[2015-11-11 07:43] #2665 closed

[2015-11-11 07:43] jtlan commented on #2651
@christinaforney What was the eventual clarification?

[2015-11-11 07:49] jtlan commented on #2643
This is most obvious when the slices are the same color: http://jsfiddle.net/py8p0oyp/

[2015-11-11 07:53] jtlan commented on #2604
Looks like `onRender()` has its own issue here https://github.com/palantir/plottable/issues/1755.

[2015-11-11 07:54] jtlan commented on #2601
Might be worth offering the user an API point to choose if the default action should be prevented?

[2015-11-11 07:55] jtlan commented on #2533
Fixed.

[2015-11-11 07:55] #2533 closed

[2015-11-11 07:57] jtlan commented on #2509
This seems like the "most Typescript" way to cover the Javascript convention of having "stringy" APIs.

[2015-11-11 07:58] jtlan commented on #2503
New ticket at https://github.com/Microsoft/TypeScript/issues/3694

[2015-11-11 08:02] jtlan commented on #1868
Reopen, since I think we might want to consider if UTC is more appropriate by default, since it will produce consistent *visual* results regardless of the time zone you are in. It also plays better with `Date` values generated using millisecond time stamps.

[2015-11-11 08:03] jtlan commented on #2447
I think changing this would produce an inconsistency between the behaviors for `Plots.Bar` and other `Plot`s -- for example, for `Plots.Line`, it's critical that the data point be exactly at the value specified.

[2015-11-11 08:04] jtlan commented on #2437
Probably would be fixed by https://github.com/palantir/plottable/issues/2613.

[2015-11-11 08:06] jtlan commented on #2586
We should consider how this interacts with the "show every other tick logic" that currently exists (and causes https://github.com/palantir/plottable/issues/2385).

[2015-11-11 08:07] jtlan commented on #2363
Other issue should cover the removal of the old dependency.

[2015-11-11 08:07] #2363 closed

[2015-11-11 08:13] jtlan commented on #2341
@aicioara worked on a CLAbot, but I don't think we integrated it yet.

[2015-11-11 08:34] jtlan commented on #1871
Is this taken care of with the addition of `GuideLineLayer`?

[2015-11-11 08:41] jtlan commented on #1577
This already can happen, but it's hard to see when the bars are very narrow already.

[2015-11-11 08:43] jtlan commented on #1174
Related: https://github.com/palantir/plottable/issues/2536

[2015-11-11 08:45] jtlan commented on #1043
Appears to work for both of these now, so closing.

[2015-11-11 08:45] #1043 closed

[2015-11-11 08:45] jtlan commented on #822
Might also be addressed with https://github.com/palantir/plottable/issues/2888.

[2015-11-11 09:02] softwords commented on #2815
Yes, but, this code is now gone due to the restructure of the compile process to exploit the options of the compiler. So the only issue  remaining under windows (also relating to line-ends) is #2914.

[2015-11-11 09:02] #2815 closed

[2015-11-11 12:21] aicioara commented on #822
I still prefer this option as it is more inline with how people do alignment in spreadsheets / how they used to do alignment in pre-CSS - Table based layout.

[2015-11-11 18:01] istarnx commented on #2832
The Axis visualizing the Scale with that TickGenerator.

[2015-11-11 19:19] jtlan opened #2958 "[Axes.Category] Blows up when passed newlines"
`Axes.Category` fails to render when its `Scale` has domain values that include newline characters (`\n`).

**repro**: http://jsfiddle.net/fw39ca6q/
**actual**: Nothing is drawn, and `Uncaught Error: SingleLineWrapper is designed to work only on single line` appears in the console.
**expected**: `Axes.Category` either:
* Ignores the newlines, replacing them with spaces
* respects the newlines if p

[2015-11-11 23:17] jtlan commented on #2633
StackedBar here: https://github.com/palantir/plottable/pull/2871

[2015-11-11 23:26] ztsai commented on #2633
stackedArea https://github.com/palantir/plottable/pull/2862

[2015-11-11 23:26] #2633 closed

[2015-11-12 00:23] jtlan opened #2963 "[SelectionBoxLayer] Add Generics"
`SelectionBoxLayer` should be updated to use a generics structure similar to `GuideLineLayer`.

[2015-11-12 00:39] #2958 closed

[2015-11-12 01:21] kevinpanxc opened #2964 "[Plots.Waterfall] - Setting the "x" or "y" property does not rerender plot correctly (related to issue 2819)"
When you update the x or y accessor functions, the graph does rerender BUT not correctly. This is because we're not calling _updateSubtotals when we update x or y (we're directly calling XYPlots x and y accessor updaters). As such, we will have a graph rerendered with stale data.

[2015-11-12 01:55] #2634 closed

[2015-11-12 04:54] ztsai commented on #2625
- [ ] Gridline
- [ ] Legend
- [ ] InterpolatedColorLegend
- [ ] Label

[2015-11-12 04:57] #2623 closed

[2015-11-12 06:13] jtlan commented on #2447
Closing this -- `Plots.Bar` should be consistent with the other `Plot`s, and the behavior should make more sense if https://github.com/palantir/plottable/issues/1868 goes in and everything converts to UTC.

[2015-11-12 06:13] #2447 closed

[2015-11-12 06:58] jtlan commented on #2607
Not 2.0.0, because it shouldn't affect the API.

[2015-11-12 07:26] jtlan commented on #2922
One option is to use a no-op `Drawer`.

[2015-11-12 21:07] escherba opened #2966 "parseFloat data when using Linear scale"
I might be wrong, but it seems that selecting a Linear scale (vs say Categoric) with a Numeric axis should result in data being automatically parsed into numeric values with "parseFloat".

[2015-11-12 23:13] #2896 closed

[2015-11-12 23:13] #2897 closed

[2015-11-13 21:56] jtlan commented on #2840
I don't think there's a way to test directly for the existence of callbacks attached to DOM elements.

[2015-11-13 22:28] jtlan opened #2968 "[Dispatcher] internal fields misleadingly named"
In `Dispatcher` there is this field:
[code]

But also these:
[code]

The naming here is misleading since there are actually *two* kinds of callbacks involved.`_eventToCallback` is closer to "event to processing-function-*of*-`Dispatcher`", and `_set`/`_unsetCallback` is closer to "set/unset callbacks to be *invoked by* `Dispatcher`.

Proposed renamings:
`_eventToCallback` --> `_eventToProcessingFu

[2015-11-15 07:15] jtlan commented on #2628
Assuming direct control.

[2015-11-16 09:14] jtlan commented on #2336
Duplicate, but this is a narrower repro.

[2015-11-16 09:28] jtlan opened #2971 "[Scale] Return types of _getDomain() and _getRange() left unspecified"
`_getDomain()` should return `D[]`, and `_getRange()` should return `R[]`. This shouldn't be a breaking change because if they didn't return those values, the `Scale` wouldn't work anyway.

[2015-11-16 19:44] jtlan commented on #1868
Clearer repro using `Plots.Scatter`: http://jsfiddle.net/xnpa7xg6/1/
<img width="418" alt="screen shot 2015-11-16 at 11 44 28 am" src="https://cloud.githubusercontent.com/assets/1440449/11192705/6f179e88-8c57-11e5-9cfc-d4f00b7ecc05.png">

[2015-11-16 21:08] jtlan commented on #1868
`Scales.Time` would also have to be UTC to fix this.

[2015-11-16 22:53] jtlan commented on #2628
Completed by #2893.

[2015-11-17 20:50] TheBeruriahIncident opened #2975 "Long domains aren't properly truncated with ellipses"
Long domains aren't properly truncated with ellipses if there are many newlines. The more input you have, the more ellipses:
https://jsfiddle.net/went8vzd/

[2015-11-18 03:00] #2625 closed

[2015-11-18 03:03] jtlan commented on #2640
`Scale` and `QuantitativeScale` done in #2974; closing this out.

[2015-11-18 03:03] #2640 closed

[2015-11-19 01:24] jtlan commented on #1868
Since "assume all dates are local" is also consistent, and we're not sure if switching to "assume all dates are UTC" will yield immediate benefits, going to defer this.

[2015-11-19 01:32] ztsai opened #2981 "clean up module namespace"
there's some declaration floating outsize of their designated namespace
such as `type KeyCallback` in `keyInteraction.ts`
it should be defined inside `Interaction.Key` instead of `Plottable` namespace

related to this change: https://github.com/palantir/plottable/pull/2894

[2015-11-19 01:37] ztsai commented on #2694
closed due to #2957

[2015-11-19 01:37] #2694 closed

[2015-11-19 01:37] ztsai commented on #2693
closed due to #2957

[2015-11-19 01:37] #2693 closed

[2015-11-19 01:37] ztsai commented on #2685
closed due to #2957

[2015-11-19 01:37] #2685 closed

[2015-11-19 01:37] ztsai commented on #2684
closed due to #2957

[2015-11-19 01:37] #2684 closed

[2015-11-19 01:37] ztsai commented on #2683
closed due to #2957

[2015-11-19 01:37] #2683 closed

[2015-11-20 00:50] ztsai commented on #2628
Interactions that need second pass:
- [x] `clickInteractionTests.ts`
- [x] `doubleClickInteractionTests.ts`
- [x] `dragInteractionTests.ts`
- [ ] `keyInteractionTests.ts`
- [ ] `panZoomInteractionTests.ts`
- [ ] `pointerInteractionTests.ts`
- [ ] `interactionTests.ts`

[2015-11-20 01:11] ztsai opened #2986 "Key Interactions trigger through overlays"
#2416

[2015-11-20 01:12] #2637 closed

[2015-11-20 02:06] jtlan opened #2988 "[Axes.Category] Rotated ticks on vertical Axis still take up full horizontal space"
<img width="151" alt="screen shot 2015-11-19 at 6 05 57 pm" src="https://cloud.githubusercontent.com/assets/1440449/11290095/35d4e1ba-8ee8-11e5-8c7e-f659268f8dad.png">

**repro**: https://jsfiddle.net/cpoyk4o1/
**actual**: `Axis` continues to take up enough width for non-rotated text
**expected**: `Axis`' size should reflect the space it actually needs.

[2015-11-20 19:02] #2622 closed

[2015-11-20 19:03] jtlan commented on #2622
Completed by #2976, #2978, and #2987.

[2015-11-21 01:41] ztsai commented on #2957
on 2.0 branch

[2015-11-21 01:41] #2957 closed

[2015-11-22 01:28] softwords opened #2993 "Use a tsconfig to compile tests"
tsconfig.json could be used to compile the tests, eliminating the need for testReferences.js.

-- move the tsconfig.json for the src compile to `src`
-- create a tsconfig.json in `test` for the test compile

use the option `outFile` rather than `out` in both tsconfig.json files. outFile is relative to the location of tsconfig.json.

Go up to `grunt-ts` 5.1.0 which supports `outFile`

You can speci

[2015-11-22 07:50] jtlan opened #2994 "[Label] Support for multiple lines"
Support multiple-line `Label`s.

Layout logic is probably as follows:
* Considered fixed-size, but expands to occupy all space offered in the direction of the text.
* Text-alignment is inferred from `xAlignment()`/`yAlignment()` + `orientation()`.

[2015-11-24 04:23] #2789 closed

[2015-11-24 15:39] mato75 opened #2998 "Labels.requestedSpace doesnt use the requested space"

[2015-11-24 18:31] jtlan commented on #2998
@mato75 , can you elaborate?

[2015-11-27 17:59] joyt opened #3001 "Ability to set tickLabelAngle for non-Categorical axes"

[2015-11-27 18:04] joyt opened #3002 "Option to restrict to only panning or only zooming in PanZoom interaction"
For example:
`var pzi = new Plottable.Interactions.PanZoom().enableZoom(false).attachTo(plot);`
Now the user may only drag the chart around, using the mousewheel will not affect the chart.

[2015-11-28 19:15] jraller opened #3003 "Dev instructions need to include tslint"
tslint is a peer dependency of grunt-tslint. It is not mentioned in the README.md file in the "Development" section on the line:
- Install global dependencies `sudo npm install grunt grunt-cli typescript -g`

[2015-12-01 00:08] jtlan opened #3004 "[Component] Top-level Components don't reset to non-top-level"
`Component`s that are anchored directly under the root `<svg>` are considered "top-level". However, this "top-level"-ness isn't reset when the `Component` is then moved under a `Table` or `Group`:

**repro**: https://jsfiddle.net/m7t0a682/1/
**Actual**: Previously top-level label acts as though it's still anchored and centers itself in the SVG
**Expected**: `Component` acts the same as though it h

[2015-12-01 00:09] jtlan commented on #3004
Adding 2.0.0 because it blocks a change required to fix #2984.

[2015-12-01 09:59] SamMorrowDrums opened #3005 "Is there possibility of NPM publish?"
I understand that multiple publishing comes with it's own issues, but for anyone who is using npm for all deps (including client side), this would be a really awesome feature.

[2015-12-01 13:32] mato75 opened #3006 "Is it possible to add Plots after chart is rendered."
I would like to add Scattered and Line plot to stacked area.

Something like this:
https://jsfiddle.net/cdx3521r/1/

What is the easiest way to do this?

[2015-12-01 15:54] mato75 opened #3007 "Stroke is not seen at Stacked Area Plots"
https://jsfiddle.net/cdx3521r/2/

[2015-12-01 16:06] SamMorrowDrums opened #3008 "Plottable Broken with Browserify Builds"
This issue is in regard to the pre-built bower package version (testing using non-minified, same issues with both however).

For some reason, when loading in Browserify context, the `this` reference to the global object is not working, and all the assignments of the  `__extends = this.__extends ||` function break because this is undefined. Yes, even though in the first instance this is checked wit

[2015-12-01 16:48] BaEigner commented on #3007
If I'm correct, it disables stroke for Area type drawer:

[code]

I use this in a site and in the initial loading it's overridden:
[code]

Not too nice, but works. Maybe a switch for this would be great or if the user calls '.attr('stroke-width',....) and it assigns a value higher than 0 then it should enable the strokes.

[2015-12-01 17:04] SamMorrowDrums commented on #3008
For now I've resourced to pre-building this into usable form for require, however I'm still really hoping we can find a way to make Plottable work in as many places as possible.

[2015-12-01 18:03] jtlan commented on #3007
Setting the stroke on `Drawers.Area` is incorrect, since that will also add the stroke on all sides of the area. `Plots.Area` gets around this by using both a `Line` and `Area` `Drawer`, allowing the stroke to show only on the top of the area. One of our visual design decisions was to not have this on `StackedArea`, but it wouldn't be too difficult to add to `StackedArea` as well. Would you like t

[2015-12-01 18:05] jtlan commented on #3006
You'll want to create a `Group`, then add all the `Plot`s to it. If the `Plot`s are powered by the same `Dataset`s they should show points in the same place. In this case, however, there is the complication that the `StackedArea` sums the values for a given key, so you'll have to recompute that.

[2015-12-01 18:09] #2971 closed

[2015-12-03 14:53] BaEigner commented on #3007
Oh, I see, thanks for the clarification. I would be happy to submit a PR, but unfortunately I've never did it before. :) If I'll have enough time to get through a tutorial, I'll be happy to do so.

[2015-12-03 20:10] jtlan opened #3013 "[Component] Components don't detach() before anchor()ing"
The `anchor()` call doesn't first `detach()` `Component`s from their current location. This means that a `Component`'s parent doesn't know it left.

**Repro**: https://jsfiddle.net/kh6n2n5f/
**Actual**: red `Component` stays in the top SVG.
**Expected**: red `Component` is moved to the bottom SVG.

[2015-12-04 00:35] #3004 closed

[2015-12-05 03:37] jtlan opened #3019 "[QuantitativeScale] Locks up if both ends of domain set to same value"
Specific conditions that cause this:
* `QuantitativeScale` has more than one distinct included value (doesn't matter if they come from the same `IncludedValuesProvider` or not)
* `QuantitativeScale` has a nonzero `padProportion()`.

Under these conditions, if both ends of the `QuantitativeScale`'s domain are set to the same value, it will be unable to `autoDomain()` out of it.

**repro**: https://

[2015-12-07 02:07] adidahiya opened #3021 "Update .travis.yml to use Node 5"

[2015-12-07 02:07] adidahiya opened #3022 "Use EditorConfig"
http://editorconfig.org/

[2015-12-07 02:09] adidahiya opened #3023 "Use grunt-ts and filesGlob to auto-generate files list for compilation"

[2015-12-07 02:11] adidahiya opened #3024 "Use tsconfig.json for test/"

[2015-12-07 02:22] adidahiya opened #3026 "Remove JSCS"
Two JS linters feels excessive. Let's just use ESLint.

[2015-12-07 02:39] adidahiya opened #3028 "Use Karma to run tests"

[2015-12-07 18:56] #3022 closed

[2015-12-08 05:47] softwords commented on #3024
also #2993

[2015-12-08 05:57] adidahiya commented on #3024
closing in favor of #2993

[2015-12-08 05:57] #3024 closed

[2015-12-08 21:09] #3019 closed

[2015-12-09 21:42] istarnx opened #3032 "Stacked area plot + domainMin + croppedRendering = incorrect rendering"
Segments of stacked area charts whose values are less than its scale's domainMin() setting will not render if croppedRendering is enabled (which is the default behavior).

Suppose x = [1,2,3] and stack one's y = [3,3,3] and stack two's y = [1,1,1]. If we do scale.domainMin(2), stack two disappears because that segment's height (1) is less than the domain min.

[2015-12-09 21:57] jtlan commented on #3032
**Repro**: https://jsfiddle.net/15a30ybm/

[2015-12-11 15:03] MarcMueltin commented on #2751
Are there any updates on this bug? I have the same issue.
I am plotting values which subsequently arrive after several minutes. As long as I have only one data point for one single timestamp, I get the following error:

[code]

(the full path to the plottable file has been shortened with '...')

This is not very nice as the user can see these logs in the browser and may worry what this error is al

[2015-12-14 23:46] LukeSheard commented on #3005
I would really love this to be implemented. While I love this library it's frustrating to use with webpack.

[2015-12-15 01:14] adidahiya commented on #3005
+1, this is on the roadmap pretty soon

[2015-12-15 22:22] jtlan opened #3036 "Animators on Plots.Rectangle"
`Plots.Rectangle` doesn't currently respond to `animator()` the same way other `Plot`s do:

[code]

[2015-12-16 21:38] jtlan commented on #3036
Currently it looks like `Plots.Rectangle` looks for an `Animator` with the registration key `"rectangles"` instead of the key `Plots.Animators.MAIN`. This should be pretty straightforward to adjust, but we should also figure out what animation style we want.

[2015-12-17 22:18] jtlan opened #3037 "[Plots.Scatter] Points don't animate correctly"
on `Plots.Scatter`, points no longer "inflate" to their full size. This is particularly evident if the step duration is increased:

[code]

**Repro**: https://jsfiddle.net/kejm7xuy/

**Actual**: Points simply appear
**Expected**: Points grow to their full size from nothing.

[2015-12-17 22:58] jtlan commented on #3037
It looks like this is due to the `<path>`'s `"d"` attribute being set to an empty string on reset, rather than the symbol at size 0.

[2015-12-18 00:10] jtlan opened #3038 "[Plots.Pie] entitiesAt() doesn't take Scale into account"
If a `Scale` is supplied to `outerRadius()` or `innerRadius()`, the scaled value of the radii isn't taken into account for `entitiesAt()`.

**repro**: https://jsfiddle.net/cezd94az/
**actual**: Only clicking within the radius value selects the slice ([clearer example](https://jsfiddle.net/cezd94az/1/)).
**expected**: Clicking anywhere within the slice selects it.

[2015-12-18 06:35] Sutikshan opened #3040 "Custom AxisLabel text as per yAxis Value"
Hi,
I would like to print AxisLabel near yAxis to deonote two important value of threshold on my line chart.
But it is not possible to supply numerical value on yAlignment , while defining AxisLabel, my code is -

[code]

where thresholdObj.max is yAxis value of threshold line, I have drawn.

![screen shot 2015-12-18 at 11 51 22 am 1](https://cloud.githubusercontent.com/assets/1274910/11891879/c88

[2015-12-22 05:20] aaronhayes commented on #3005
Is there an ETA on this? I'd really love to use plottable but this is holding me back.

[2015-12-28 21:09] jtlan commented on #3040
Hello @Sutikshan

This should be done by using a `Axes.Numeric`, but flipped over, merged with the `Plot`, and with the alignment set correctly. Let me give you an example:

https://jsfiddle.net/qLxmohfb/

Let me know if that works for you.

[2015-12-30 13:22] Sutikshan commented on #3040
Thanks @jtlan . I want to draw two lines only, as these lines are denoting upper limit of blood-sugar readings. and label text for these two lines only. I am drawing line using Plottable.Plots.Line() class. Is there anyway I can print text above these two lines only.

[2016-01-07 19:00] jtlan commented on #3040
@Sutikshan It might be easier to do that by setting a `tickGenerator` on the `Scale`:

[code]

https://jsfiddle.net/qLxmohfb/1/

[2016-01-07 21:56] #3037 closed, assigned to nobody

[2016-01-10 22:52] aaronhayes opened #3042 "[Plots.Waterfall] Labels not displaying"
I'm trying to get Labels Displayed on Waterfall Charts but there seems to be a bug - no labels are ever displayed.
Following this: http://plottablejs.org/docs/classes/plottable.plots.waterfall.html#labelsenabled

Is there a trick I'm missing?

[code]

[2016-01-11 12:09] Sutikshan commented on #3040
Thanks. It is done using tickGenerator.

[2016-01-11 12:09] #3040 closed, assigned to nobody

[2016-01-11 23:17] jtlan commented on #3042
Thanks for catching this! It looks like `Waterfall` is not correctly invoking the superclass logic in `_additionalPaint()`.

[2016-01-12 19:00] istarnx opened #3043 "Interactions.Click() calls onClick twice on some touch devices"
I was able to repro this using chrome's touch device emulator.

Repro:

[code]

[2016-01-12 20:59] istarnx opened #3044 "Segment plot w/ category scale doesn't properly initialize scale"
Consider this TypeScript code:

[code]

Note that no scale is supplied as a parameter to x/x2, but xScale _is_ used to return a value from the Accessor. The problem? **This plot won't render unless I have another Component, such as an Axis, use and initialize the xScale.**

[2016-01-15 19:44] istarnx opened #3045 "Bar chart with modified log axis is broken"
Create a bar chart with a modified log y-axis. Ensure a y-value of at least 100. Note that the axis doesn't render.

[2016-01-15 20:16] adidahiya commented on #3045
@istarnx can you please throw together a quick JSFiddle with a repro?

[2016-01-15 20:58] istarnx commented on #3045
Even simpler repro: the bars themselves don't render. http://jsfiddle.net/t0zsdd1h/

[2016-01-15 21:00] adidahiya commented on #3045
likely caused by #3029

[2016-01-19 03:22] adidahiya opened #3047 "Use Sinon for touchDispatcherTests"

[2016-01-19 03:51] adidahiya opened #3048 "Rename .tslintrc to tslint.json"
tslint.json is the standard name. should probably live in a `config/` folder.

[2016-01-22 14:35] adidahiya opened #3050 "Use real abstract classes"
There are a few places where we use pseudo-abstract classes & methods, like `Scale<D, R>#scale(value: D): R`. These ought to use the built-in language features for abstraction.

[2016-01-22 14:49] adidahiya opened #3051 "Remove quicktest for Plots.Wheel"
It is deprecated as of 2.0.

[2016-01-22 14:52] adidahiya opened #3052 "Convert to ES6 modules"

[2016-01-22 14:55] adidahiya opened #3053 "Write quicktests in TypeScript"

[2016-01-28 21:41] freedomflyer commented on #3042
I think it just hasn't been implemented yet: https://github.com/palantir/plottable/issues/1755

[2016-02-08 22:30] #3006 closed

[2016-02-10 23:34] istarnx opened #3056 "entityNearest() on StackedArea should behave like StackedBar"
For StackedBar, `entityNearest()` will return a bar's entity if the query point is within a bar (i.e., even if the point is closer to an adjacent stack's point). This behavior is custom to StackedBar. My argument is that this same behavior should also be true for StackedArea.

In the screenshot below, notice that that cursor is within the purple band but the tooltipped point is from the red band.

[2016-02-17 00:51] m4dc4p opened #3057 "Better documentation on domain/range functions"
ModifiedLog does not document its arguments or accessors very well.

  base - The value at which the scale switches from "linear" to "log" behavior. Not related to base of the logarithm at all.
  range() - Should be an array giving the minimum and maximum range value expected.
  domain() - Should be an array giving the minimum and maximum domain value expected. (Can also be set via domainMin/domai

[2016-02-25 17:26] istarnx opened #3059 "Category axis labels overflow SVG"
Create a chart with a category axis, and add a data point with a very long category name.

Expected: category text is wrapped and/or truncated such that it doesn't overflow the SVG container
Actual: category text overflows the SVG container

![screen shot 2016-02-25 at 9 22 14 am](https://cloud.githubusercontent.com/assets/11776100/13328072/8fcd9648-dba1-11e5-9a53-ac81b8cc80da.png)

[2016-03-02 16:40] #3057 closed, assigned to nobody

[2016-03-03 01:23] istarnx opened #3060 "Cropped rendering breaks Line plots"
Line plot (and its descendants) have croppedRendering enabled by default, but it results in incorrect rendering. Create a line plot and position the view such that a both endpoints of a segment are outside of the plot area but it still crosses the plot area. The segment will fail to render.

[2016-03-03 11:00] SamMorrowDrums commented on #3005
Just wanted to check. I can see there is a version 3.x milestone. Will NPM version be usable when version 3 is released?

[2016-03-08 21:16] istarnx opened #3061 "Allow explicit sizing of axes"
Plottable's automatic sizing of Components grouped in a Table is arguably one of its strongest features. It hits the vast majority of our use cases because it's pretty smart. However, consider the behavior we see here:

![screen shot 2016-03-08 at 1 07 26 pm](https://cloud.githubusercontent.com/assets/11776100/13616457/e92cf8f0-e52e-11e5-8da2-69152ce8a608.png)

In order to get the category with na

[2016-03-09 19:57] adidahiya commented on #2826
@endrjuskr you recently updated your Plottable dev environment, right? Can you take a look at these setup instructions and send a PR if the updates look good?

[2016-03-09 20:14] adidahiya commented on #2335
Closing as invalid; willing to re-open if there is a user need for a fix.

[2016-03-09 20:14] #2335 closed

[2016-03-09 20:21] adidahiya commented on #2692
I think the current behavior is correct since it is consistent with HTML element interactions as @jtlan described. Happy to reopen if there is further discussion.

[2016-03-09 20:21] #2692 closed

[2016-03-09 20:22] adidahiya commented on #3056
:+1: good suggestion

[2016-03-11 14:13] endrjuskr opened #3063 "Update tutorials on http://plottablejs.org/"
Tutorial is not up to date with current released version.

[2016-03-15 21:39] #2826 closed

[2016-03-18 19:13] m4dc4p opened #3066 "Allow Gridlines with Categories"
The Gridlines component only works with scales that extend QuantitiveScale. Gridlines with category scales would be nice.

[2016-03-18 20:17] adidahiya opened #3068 "Expose closest data point for plot group interactions"
when adding pointer interactions to a plot group, users currently have to manually do some `nearestEntity` tie-breaking to figure out the closest plot entity for an interaction. let's make this use case easier.

[2016-03-23 07:59] aicioara commented on #2609
Finally implemented by GitHub. https://github.com/blog/2123-more-code-review-tools#pick-up-where-you-left-off
Can be closed.

[2016-03-23 16:47] #2609 closed

[2016-03-24 19:12] joyt commented on #3001
@jtlan or @adidahiya is there any plan to implement this? Would be super useful for us.

[2016-03-29 19:43] galenmarchetti opened #3070 "entityNearest on line plots should use Euclidean distance"
On http://plottablejs.org/components/plots/line/ , "entityNearest" is described as:

"Returns the PlotEntity nearest to the query point by X then by Y, or undefined if no PlotEntity can be found."

On charts with multiple lines, this will not return the nearest entity to the query point. Users expect the function "entityNearest" to use Euclidean distance, like it does on scatter plots.

According

[2016-03-30 14:32] galenmarchetti commented on #3070
Submitted pull request to fix this: https://github.com/palantir/plottable/pull/3071

[2016-03-31 06:09] ravivyas84 commented on #3063
This is needed, learning by reading the example code and using the latest versions of JS/CSS caused a lot of pain

[2016-04-04 18:54] m4dc4p opened #3072 "Align label text on Category Axis"
The alignment of tick labels on category axis depends on the orientation of the axis. I would like more direct control over label alignment (e.g., "left", "right", or "center").
- If not set, labels should render according to existing behavior.
- Alignment should be applied before rotating text.
- Alignment also implies that a "padding" setting must be present, otherwise labels will be rendered ne

[2016-04-07 21:36] #3045 closed, assigned to endrjuskr

[2016-04-07 21:42] #3068 closed, assigned to endrjuskr

[2016-04-08 15:56] adidahiya opened #3074 "Ensure quicktests work properly"

[2016-04-08 17:36] adidahiya commented on #3005
Hey folks, sorry for the delay on this. I understand the pain with NPM consumption right now. We are looking into this more seriously in the next couple weeks. We'll also have to migrate the svg-typewriter dependency to NPM.

[2016-04-11 21:51] m4dc4p opened #3075 "Specify Gridline Alignment with Ticks"
Gridlines can either line up with ticks on each axis (which makes sense for numeric axes & sparse plots), or they can be drawn in-between each tick (which makes sense for bar graphs).

We should be able to specify which type of alignment we want. Proposal:
- A property named "alignment" which takes two values:
  - `center` - Gridlines are aligned with each tick.
  - `between` - Gridlines are drawn

[2016-04-12 19:05] adidahiya commented on #3075
Agreed that it should go on the `Scales.Category` class. Should the property name be a little more verbose? Perhaps `gridAlignment`?

[2016-04-12 21:02] m4dc4p commented on #3075
`gridAlignment` makes sense to me.

[2016-04-12 22:05] adidahiya commented on #3075
cool let's do it 👍

[2016-04-14 17:43] crmorford commented on #3053
@adidahiya want me to work on this this week?
...on second thought, it might make sense to have at least some in js, since it's a javascript library.

[2016-04-14 17:54] #3051 closed, assigned to nobody

[2016-04-14 20:22] adidahiya commented on #3005
In progress here: #3077

[2016-04-14 20:26] adidahiya commented on #3053
@crmorford let's focus on the 2.1 release (hopefully this week, maybe next) and updating tutorials: #3063

[2016-04-15 18:21] adidahiya commented on #3005
We've published the first beta release on NPM, v2.0.1-beta.0: https://www.npmjs.com/package/plottable

Can you try it out and let us know if there are any issues? We'll try to publish a real (non-beta) release later today.

[2016-04-15 19:31] adidahiya commented on #3005
Published v2.1.0 to NPM 🎉  https://github.com/palantir/plottable/releases/tag/v2.1.0

[2016-04-15 19:31] #3005 closed

[2016-04-25 16:55] adidahiya commented on #3001
will look into this feature this week.

[2016-04-27 17:28] etnbrd opened #3078 "pie.entityNearest returns undefined"
In the following mwe, pie.entityNearest returns undefined, where it should returns one of the pie slices.
(Or I am missing something)

[code]

[2016-04-27 17:34] etnbrd commented on #3078
`pie.entitiesAt` can be used instead of `pie.entityNearest`.

[2016-04-29 02:12] #3070 closed, assigned to nobody

[2016-05-06 09:31] SamMorrowDrums opened #3080 "Internationalisation API for Time Scale / Axis"
Hi the time axis in Plottable is great, however it's needlessly difficult to internationalise! Before we get started, I'm not expecting Plottable to provide internationalisation, just provide a public API for updating the formatters, and for updating the d3 intervals with custom intervals. I also apologise, as this is kind of a blog post. Perhaps I should even write a blog post for how to do this,

[2016-05-06 19:33] adidahiya commented on #3075
ping here @m4dc4p, any ETA on when you might be able to implement the discussed changes? no rush, just wondering.

[2016-05-06 21:13] m4dc4p commented on #3075
No worries. I hope to get a PR up by next Friday (5/13).

[2016-05-12 20:21] KrisSiegel commented on #2889
I just ran into this issue. Is there any workarounds for this specific issue? I was hoping there would at least be a corresponding selector shared between the two but alas there is not.

[2016-05-17 16:59] ccolgrove commented on #3001
@adidahiya We also need this feature.

[2016-05-19 18:09] jkillian commented on #3001
Just to clarify, this is needed for `Axis.Numeric`, right? (`Axis.Time` would be a much more complicated change)

[2016-05-20 19:41] #3074 closed, assigned to nobody

[2016-05-20 19:44] jkillian commented on #3001
Postponing this change given the following:
- `Axes.Category` has this feature, and it's very useful when there are a lot of categories.
- `Axes.Time` is quite complex and there isn't a well-defined way to have angled labels
- `Axes.Numeric` only displays a reasonable amount of labels given its size, so rotated labels aren't needed. There could be an odd use case or two for these though, so we'll

[2016-05-20 19:50] jtlan commented on #3001
Also true of `Axes.Time`.

[2016-05-24 20:57] mmlindeboom commented on #1044
Is there anymore word on this? My team would like to use this library, but no support for animations on Pie charts is a bit of a blocker.

[2016-05-26 16:31] m4dc4p commented on #3075
@adidahiya: my circumstances have changed (new job) and I'm unlikely to do this work. Hopefully someone else can pick it up.

[2016-05-27 12:45] adidahiya commented on #3075
@m4dc4p ok, that's cool, thanks for the update. Will leave it up to anyone else interested in the feature.

[2016-05-29 23:38] doingweb commented on #2586
Any news on this? Is 11eeaaa (sweet hash, btw) in a branch set for release, or does it still need work?

[2016-05-31 10:54] MadsMadsDk commented on #2651
Any news on this? I have a situation where I want to do things after panning has ended. Currently I'm listening for timescale-updates, but it creates a great deal of overhead.

[2016-06-09 19:22] zmandel opened #3082 "Axis with blank ticks shows incorrectly"
I have a chart where the X axis value is always a whole number. Thus, I dont want to show numbers that are not whole in the Axis. Sometimes Plottable choses a "0.5" step, and I want to prevent those fractions.

My aproach was to add a formatter to the axis, and return a blank string when the number isnt whole.
However, it doesnt work, some whole numbers get skipped.

[code]

I debugged this and fo

[2016-06-09 19:30] jtlan commented on #3082
The correct way to do this is to use a `TickGenerator`, which specifies the array of values that are even considered for display:

[code]

Hope that helps.

[2016-06-10 05:51] zmandel commented on #3082
awesome! Im using that now.
still seems odd that the rects of those elements are off, couldnt that affect other parts of the code?

[2016-06-17 07:42] navinSing opened #3083 "non d3 dependency"
is there a library without d3 dependency, or may be can we remove dependency from this project.

[2016-06-17 14:09] adidahiya commented on #3083
Plottable relies _heavily_ on d3. Removing that dependency is out of scope for this project; I would consider a different charting library if you do not want to import d3.

[2016-06-17 14:09] #3083 closed, assigned to nobody

[2016-06-29 07:32] SamMorrowDrums commented on #3080
Now D3 v4 is released, this work should be easier to complete https://github.com/d3/d3/releases/tag/v4.0.0

[2016-06-30 22:52] Maksims opened #3084 "Space Race example in Firefox not working"
This example does not plots data in Firefox Nightly 50.0a1 (2016-06-30):
http://plottablejs.org/examples/spacerace/

It works well in Chrome.
There are no console log errors, and quick look from code, seems like data is loaded and parsed well, but then it is not added to a plot.
Additionally while data is loading or not available, callback in onPointerMove assumes there will be always at least one

[2016-07-06 17:36] erichiller opened #3085 "[Feature] Non-Zero start values for Waterfall plots"
Waterfall module plots are the closest to what I'm looking for, as I've a number of scenarios in which non-zero start values would apply. As @crmorford said in #2426 I believe others may as well. Whether accomplished with all delta values or some other mechanism, I'm not sure at this point.

[2016-07-07 08:32] MaestroJurko commented on #2944
The same goes for http://plottablejs.org/examples/weather/ and http://plottablejs.org/examples/finance/. I think the zoom limit would be awesome.

[2016-07-14 08:09] SamMorrowDrums opened #3086 "Enable events API for Pan and Zoom"
The pan and zoom interaction is really nice, but it's also an excellent opportunity for developers to enable dynamic loading of data.

I suggest adding event listeners, that are triggered at the end of Pan events and Zoom events, so it is possible to fill in the missing data. The user can then, for example, check the scale domains on callback, and make a request for the data they haven't downloade

[2016-07-20 23:55] yocontra commented on #2477
Is there any workaround for this?

[2016-07-22 21:40] freedomflyer opened #3088 "Per-label Formatting Option for plot.labelFormatter(d)"
I've dug a lot, but haven't found a way to do custom, per-label formatting. As you see below, `labelFormatter` is only given one argument, `d`, so there's nothing else to key off of to intelligently format a label differently than any other label. However, in other methods such as `attr(d, i, dataset)`, I have that information.  Getting that information to labelFormatter seems trivial, and would b

[2016-07-23 21:54] yocontra opened #3089 "calculating legend layout during draw is extremely slow"
Calling redraw on a legend with 431 items locks the browser for 9 seconds. Culprit seems to be [Legend._calculateLayoutInfo](https://github.com/palantir/plottable/blob/develop/src/components/legend.ts#L162-L191)

<img width="1191" alt="screen shot 2016-07-23 at 5 44 34 pm" src="https://cloud.githubusercontent.com/assets/425716/17080433/4f3b5c10-50fd-11e6-8daf-cc922e4c0156.png">

Seems like an easy

[2016-07-26 19:40] yocontra commented on #3086
This can be closed (#3087 landed)

[2016-07-26 22:15] #3086 closed, assigned to nobody

[2016-08-01 01:28] jtlan commented on #3089
@contra , 431 items is quite a lot for a `Legend`. Can you tell us a bit more about the use case here?

[2016-08-01 08:48] yocontra commented on #3089
@jtlan 400, 100, 10, 1 - the function is slower than it should be with all of these numbers. Use case doesn't really matter, I used a high number to demonstrate how bad the problem was. Drawing 400 things shouldn't take 9 seconds (22.5ms per item), drawing 10 shouldn't take 220ms, etc.

[2016-08-01 16:48] joelmellon opened #3090 "Interaction.Click doesn't support right click"
Furthermore, no event is passed into the event callback, native or synthetic, so determining which button was clicked isn't possible. Similarly, event capturing/bubbling can't be determined, and stopping propagation and/or preventing default browser actions isn't possible.

[2016-08-08 20:20] teamdandelion commented on #3089
@contra
If I had to guess what's going on (just by reading the code) - it is using a text measurer to size each legend item [here](https://github.com/palantir/plottable/blob/develop/src/components/legend.ts#L171). This can be really slow because it requires actually manipulating the DOM to insert the text and then take some measurements.

If this is indeed the slow part (should be easy to determin

[2016-08-11 03:57] yocontra commented on #1808
Also have a use case for this: Basically http://plottablejs.org/examples/calendar/ but with years of data

[2016-08-17 01:54] teamdandelion opened #3091 "Upgrade to D3V4"
Are there any plans to upgrade Plottable to use d3 version 4?

[2016-08-24 12:39] #2437 closed

[2016-08-29 12:20] devnev opened #3092 "PanZoom interaction disrupts page scrolling"
I have a number of line plots which have horizontal panzoom enabled. The current implementation is very disruptive as a user may scroll down a page only to get stuck on a plot that is then zoomed in or out. I would like the zooming of these plots to only occur when the shift key is pressed (shift key is also commonly used for horizontal scroll) so that the user can scroll up and down the page natu

[2016-08-29 18:58] yocontra commented on #3092
Shift seems weird, how about if the element is focused (clicked)?

[2016-08-30 15:40] devnev commented on #3092
Shift is commonly used for horizontal scrolling, and I think I've encountered it in the past. Beyond that I'm happy either way. Probably should make this behaviour toggleable as graphs filling a whole page probably want the current zoom-on-scroll behaviour.

[2016-09-07 12:34] pchaganti commented on #3091
+1

[2016-09-09 08:25] havran commented on #2447
Simple solution for this is add 12 hours to date. Here is JSFiddle http://jsfiddle.net/2mdpt9ha/1/

[2016-09-12 09:44] okwme opened #3093 "simple bar chart rendering outside visible section"
this seems like a basic setting is missing but i'm not sure what it is:
http://jsfiddle.net/brennekamp/32hcs0pu/13/

[2016-09-12 17:40] okwme commented on #3093
problem found: my floats were saved as strings

[2016-09-12 17:40] #3093 closed, assigned to nobody

[2016-09-15 10:30] SamMorrowDrums commented on #3092
I implemented my own lock, unlock stuff for this (little clickable icon in corner of chart). You can quite easily add an interaction for click if you want, and then add / remove the panZoom interaction.

Different users will want different methods of controlling the interaction though, so it can't be baked-in really. If you experiment with a couple of triggering events, you can make it behave corr

[2016-09-19 14:10] adidahiya commented on #3092
I'm inclined to agree with @SamMorrowDrums's suggestion of adding / removing the pan zoom interaction imperatively as necessary -- that feels like the right level of abstraction for plottable in this use case.

[2016-09-19 14:45] devnev commented on #3092
That does sounds reasonable. In that case, however, would it be possible to have uncomposed Pan and Zoom interactions?

[2016-10-01 12:19] ConsoleTVs opened #3094 "XCategoryAxis is not correctly aligned"
![Image](https://i.gyazo.com/f2aa1770f39b0bdfabc0e60f96312214.png)

[code]

[2016-10-01 12:36] ConsoleTVs commented on #3094
Fixed with:

[code]

[2016-10-01 12:36] #3094 closed, assigned to nobody

[2016-10-18 16:37] siFeiden opened #3095 "Colored (title) label"
Hi, I'd like to create a title label with green text color. I already tried `label.addClass('text-green')` and

[code]

in my CSS but both do not seem to be working. Is there any other way I'm overlooking?

[2016-10-19 07:21] BaEigner commented on #3095
The addClass methods adds the class to a container parent element:

![image](https://cloud.githubusercontent.com/assets/10982245/19509420/e9116b10-95de-11e6-89cf-60944cf43657.png)

Just add text selector and !important to your class:

.text-green text {
    fill: #00ff00 !important;
}

It works for me:

![image](https://cloud.githubusercontent.com/assets/10982245/19509434/f1cb098c-95de-11e6-896e-9

[2016-10-19 08:28] siFeiden commented on #3095
Yes this works! Thanks

[2016-10-19 08:28] #3095 closed, assigned to nobody

[2016-10-26 21:35] yocontra commented on #2613
@danmane Did you ever manage to get this working or figure out a workaround?

[2016-10-28 02:14] CalvinFernandez commented on #3091
Currently blocked by https://github.com/palantir/svg-typewriter/issues/38

[2016-11-01 09:48] awsumnik opened #3102 "Line chart with different line dash type"
Hi,

Is there a way to draw a line chart with different line dash type ? Please see the image for more clarification.

![line-dash](https://cloud.githubusercontent.com/assets/5688725/19885541/29f18e36-9fed-11e6-9293-0c6271eaeac5.PNG)

I have tried to achieve this using accessors but didn't work.
My datapoint are something like this -
![datapoints](https://cloud.githubusercontent.com/assets/5688725

[2016-11-02 09:09] BaEigner commented on #3102
Not the most elegant solution, but it works: https://jsfiddle.net/BaEigner/21hmyah1/

![image](https://cloud.githubusercontent.com/assets/10982245/19922792/949f0f86-a0e4-11e6-9e16-01f49a8d51ce.png)

It's far from perfect (e.g. it does not handles multiple dashed sections), but maybe it's good for a starter.

[2016-11-02 21:12] siFeiden opened #3103 "Scatter plot with text labels"
Hi, I'd like to create a scatter plot where each data point either is a text label or is an icon that has a text label right next to it. Find an example [here](http://www.clear-lines.com/blog/image.axd?picture=WindowsLiveWriter/ExcelScatterPlotwithlabelscolorsandmarke/1C1462E0/PowerScatterPlot_thumb.png).

Is this possible?

[2016-11-04 01:59] awsumnik commented on #3102
@BaEigner - This is something that I have already done as an alternate to counter this issue.

Was looking if there are such controls available or are expected to be added to plottable.

[2016-11-04 09:14] BaEigner commented on #3102
@awsumnik - Sorry I misunderstood you, I did not know that you have a solution for this.

Afaik there's no solution for this in the current version, but I don't know about the future plans. Anyway, currently it uses one path element to draw the line (or at least the working examples I have), and it would be a little tricky to use different dash styles for different segments. (If I'm not mistaken,

[2016-11-10 03:09] awsumnik opened #3104 "When chart is rendered in a hidden tab, it does not take full width and height of its parent wrapper"
Hi,

I am having a case where the chart is rendered in different tabs, with one of the tabs as open by default. So any chart which is rendered in this tab comes along properly, but the chart that is rendered in a html wrapper in hidden tab doesn't takes full width and height of its parent wrapper element.

Also I have another case when I specify static width and height for the svg container and th

[2016-11-13 06:33] epicallan opened #3105 "Having an option or method to place pie labels inside or outside the pie slices"
It would be great if we could specify whether we want the pie slice labels  inside the pies or outside the pie with an option of having a connector to the pie slice or not for the outside labels.

If some one has already implemented this, please point me to your folk, in the meantime i will take a stab at implementing this.

[2016-11-14 12:34] epicallan commented on #3105
Ended up implementing something similar to what we wanted by extending the draw labels method.

[2016-11-14 12:34] #3105 closed, assigned to nobody

[2016-11-15 06:28] epicallan opened #3106 "Add support for custom label text"
Would be nice if we could specify our own custom label text via a label property on a dataset instead of plottable getting it from the data-y value for the case of bar plots

[2016-11-15 23:36] jkillian opened #3107 "Escape html tags in docs comments"
For example, [this line](https://github.com/palantir/plottable/blob/develop/src/components/component.ts#L276) actually renders an `<svg>` [in the docs page](http://plottablejs.org/docs/classes/plottable.component.html#renderto) instead of normal text.

[2016-11-16 09:38] rubiktubik opened #3108 "Space between two plots"
I want to create multiple band plots(Rectangle) with one xAxis and one yAxis like:

![charts](https://cloud.githubusercontent.com/assets/115047/20341711/9dfeca40-abe7-11e6-8ad0-09ff59ade7c7.PNG)

But as you can see in the picture the two plots are very close together. How can i add some space between them?

My code:
[code]

[2016-11-16 21:43] yocontra opened #3110 "percent area chart?"
Is it possible to do this with the existing area chart component or does a new one need to be made?

http://recharts.org/examples#PercentAreaChart

Will send a PR if you point me in the right direction

[2016-11-17 16:08] CalvinFernandez commented on #3110
Thanks for the question! You can do this with the existing area component by manipulating your data such that the dependent axis values are a ratio  .

https://jsfiddle.net/5Lcng8n2/5/

[2016-11-17 16:28] CalvinFernandez commented on #3103
Hey @siFeiden, unfortunately this isn't possible at the moment -- would you like me to open a feature request for this?

[2016-11-17 16:32] CalvinFernandez commented on #3102
Hey @awsumnik this isn't something we support in a first-class manner at the moment -- would you like me to open a feature request? Unfortunately this isn't going to be something that we can internally prioritize at the moment, though we're always accepting PRs!

[2016-11-17 16:45] CalvinFernandez commented on #3104
It looks like those hidden tabs have no measurable size  because they're `display: none`.

The fix is to either show/hide your tabs in a way that preserves their dimension info or redraw your charts each time you change tabs.

Here's the redraw example :
http://jsfiddle.net/t1anrvtd/1/

[2016-11-17 16:48] CalvinFernandez commented on #3105
Cool @epicallan, if you have a chance, can you share the extended draw labels method here or in a gist so others can benefit as well !

[2016-11-19 08:45] epicallan commented on #3106
realised if you played well with the labelformatter method you could actually just do that.

[2016-11-19 08:45] #3106 closed, assigned to nobody

[2016-11-19 08:48] epicallan commented on #3105
Hey we found extending the draw labels method to be problematic for cases when we would want the original behaviour. So we just created another draw labels like function. below is a fiddle.
http://jsfiddle.net/epicallan/36suv9a0/4/

[2016-11-19 09:59] epicallan commented on #3105
@CalvinFernandez wouldn't it be nice if we had a central place for hosting various plottable chart fiddles for various people to learn from. I and my team have quite a number that have some really custom charts.

[2016-11-21 16:45] #2651 closed

[2016-11-21 16:46] themadcreator commented on #3091
Heh, easy for you to say @danmane, =P

This is gonna be a pretty big update, I expect. But, I think we're going to give it a shot.

[2016-11-22 16:22] SamMorrowDrums opened #3114 "v2.3.0 NPM distribution"
When building a JS bundle with Browserify, I get the error`SVGTypewiter is not defined` in the browser console, when trying to draw charts. I've tried bundling without minifying etc. and the issue does not occur with 2.2.0, so I am assuming that there is a genuine issue with the NPM distribution of Plottable 2.3.0.

[2016-11-22 17:01] CalvinFernandez commented on #3114
thanks for the flag @SamMorrowDrums looking now

[2016-11-22 22:01] #3114 closed, assigned to nobody

[2016-11-28 21:15] #3110 closed, assigned to nobody

[2016-11-29 23:28] teamdandelion commented on #3091
Yo yo, it's @themadcreator!  😀

Any timeline for the upgrade? If it could happen by end of Q1 that would be greeaaaaaaat, mkay? 😉

[2016-11-30 02:09] hellochar opened #3117 "pan/zoom performance on bar charts is poor"
pan/zoom on a bar chart forces the chart to redraw; a trivial stacked bar of 4 elements w/ 5 stacks each took 250ms to flush:

![image](https://cloud.githubusercontent.com/assets/1079495/20736718/4d134f90-b676-11e6-8ba7-8123e418c58e.png)

Few things to fix:

- [ ] Bar.render() is called twice, once from plottable.js line 1093:
[code]
    and again in plottable.js line 3371, in ComponentContainer.r

[2016-11-30 03:23] hellochar opened #3118 "plottable.js breaks when used standalone"
Prior to 2.3.0 we bundled SVGTypewriter into plottable.js directly; this is no longer the case and is breaking existing users who pull in plottable standalone through a script tag. This is also breaking bower users. We should unbreak people for the time being and have a better dependency story in 3.0

[2016-11-30 12:38] siFeiden commented on #3103
Hi @CalvinFernandez , yes this would be great!

[2016-11-30 15:01] adidahiya commented on #3118
I think we should make svg-typewriter more of a true dependency in the Bower world too, i.e. users are required to add a script tag for it _in addition_ to Plottable. Better to have the dependency story look the same across NPM/Bower. For now, we should tweak the webpack build to put svg-typewriter back in for the Bower distribution because we shouldn't have a breaking change in 2.x.

[2016-11-30 16:15] CalvinFernandez commented on #3118
Sigh

[2016-12-01 01:21] #3118 closed, assigned to CalvinFernandez

[2016-12-01 07:55] fchristle commented on #2823
Is this still planned? Does anyone know of any workarounds or alternatives?

[2016-12-01 18:36] CalvinFernandez commented on #2823
@fchristle not currently prioritized but we're still tracking this

[2016-12-01 21:15] CalvinFernandez opened #3122 "Add `entitiesIn` to all XY Plots"
I would like to be able to determine which entities lie along a given x/y dimension. entities in as implemented for bar chart works very well for this case, however I need it to work for all of my xy plot types.

[2016-12-02 23:16] CalvinFernandez opened #3126 "SVGTypewriter as npm dependency"
Remove SVGTypewriter as implicit dependency in bower_components
Add explicit dependency to SVGTypewriter in package.json

[2016-12-02 23:20] CalvinFernandez opened #3127 "Move to webpack"

[2016-12-02 23:23] CalvinFernandez opened #3128 "Enable strictNullChecks"

[2016-12-05 21:32] CalvinFernandez opened #3129 "Look into automated visual testing"
Plotly does something really cool where they set up automated visual testing for their charts. They take a snapshot of a rendered chart and then do an exact comparison for each chart in every new build and fail if there's an unexpected difference.

Look into whether its feasible or worthwhile to set up this infrastructure.

[2016-12-05 23:22] adidahiya commented on #3129
We had an intern look into this in summer 2015; I do think it's worth the investment. You basically use selenium to take a screenshot and diff it with an expected baseline. I imagine there are decent libraries for managing this at this point.

[2016-12-07 22:41] mhamas opened #3132 "Typings for Line plot are wrong"
The typings for `Line` at the moment assume that the y-axis has numeric units.

See line 3574 In `plottable.d.ts` which is
`class Line<X> extends XYPlot<X, number> {`

However, the plottable seems to support also non-numeric units on the y-axis (such as `Category`, e.g. string).

Example
[code]

This renders correctly in Chrome but the compiler generates an error because of the typings.

[2016-12-07 23:10] mhamas commented on #3132
Proposed fix (as I was unable to open PR due to lack of permissions)
[code]

[2016-12-08 20:25] ronanquillevere commented on #2503
+1

[2016-12-08 22:02] CalvinFernandez opened #3134 "Interactions in chart opened in a new window are broken"
Expected Pan-Zoom to work correctly for charts rendered in a new window.  Interactions don't work correctly, however.

See this fiddle for more info
http://jsfiddle.net/ntmzejtj/2/

[2016-12-09 01:41] CalvinFernandez commented on #3084
Seems to also be broken in Safari

[2016-12-09 01:44] CalvinFernandez opened #3135 "Docs: Calendar Heatmap is too tall in Safari"
This example looks strange in Safari. the chart is so tall the x-axis is not visible. http://plottablejs.org/examples/calendar/

![image](https://cloud.githubusercontent.com/assets/2644420/21034607/1735fcc0-bd87-11e6-8847-d0063402ad5e.png)

[2016-12-13 23:01] themadcreator commented on #2573
Fixed by #3111

[2016-12-13 23:01] #2573 closed

[2016-12-15 22:08] hellochar opened #3139 "Consider using viewBox in some places"
The code looks like it's written without knowledge of nested svgs or the viewBox property; look over how using viewbox might improve code (e.g. better pan/zoom)

[2016-12-15 22:15] hellochar opened #3140 "look into textPath for clipping/defining multiline labels"
e.g. https://jsfiddle.net/hellochar/y9hbu0xo/

See also:
* SVG path with "percentages" https://codepen.io/gionkunz/pen/KDvLj

foreignObject would also work but it's not supported in IE :(

[2016-12-16 22:05] hellochar commented on #2503
Typescript 2.0 has fixed this such that fluent style now preserves the polymorphic type in most cases; @ronanquillevere is there a specific instance where you're hitting this still in ts 2.0?

[2016-12-17 12:02] ronanquillevere commented on #2503
On 2.0.7 was not working with inheritance. Still returning the parent abstract type.

[2016-12-25 08:44] awsumnik opened #3141 "set zoom in zoom out using external controls"
Hi,

I have a requirement where I need to zoom in and zoom out over a Quantitative time scale using some external buttons (say one for zooming in and another for zooming out).

Is there a way I can get and set zoom levels for  a chart as per the click on these buttons.

[2017-01-03 18:12] CalvinFernandez opened #3142 "Performance: Make label drawing faster in SVG Typewriter"
@themadcreator I know you did a lot of work already during hackweek -- has this already merged?

There was also some talk of just abandoning svg-typewriter and pulling directly into plottable. Are we going to do this?

[2017-01-03 18:14] CalvinFernandez opened #3143 "Performance: Make entitiesIn faster"
Call to`entitiesIn` is quite slow. This can be sped up a lot with some caching.

[2017-01-03 18:16] CalvinFernandez opened #3144 "Infrastructure: Testbed previews"
Improve Plottable quicktests. @hellochar can you extend this description -- you know more about it.

[2017-01-03 19:03] CalvinFernandez commented on #3141
hey @awsumnik there isn't a way to control the zoom interaction externally. You can get the effect you want by fiddling with the domain of your scale, however

[2017-01-03 20:20] adidahiya commented on #3142
+1 for putting svg-typewriter source into this codebase

[2017-01-05 03:27] awsumnik commented on #3141
@CalvinFernandez - Is there an example of what you have mentioned ? If yes, can you please share.

[2017-01-05 10:39] andrewdavidcostello commented on #3102
+1 to this, I was looking to set thresholds for the chart and change the area fill and line color like so:

[code]

As you have stated above it only draws one path per line so not sure on the best way to accomplish this, I used to use https://github.com/gionkunz/chartist-plugin-threshold/blob/master/src/scripts/chartist-plugin-threshold.js before switching to plottable which seems to clone the pat

[2017-01-05 18:57] hellochar commented on #3142
Filed https://github.com/palantir/svg-typewriter/issues/41

[2017-01-05 19:29] themadcreator opened #3145 "Perf: Use lightweight entities instead of `PlotEntities` when possible"
Plot's `entities` method does a couple linear time passes on the data. Notably, it uses `_lightweightEntities` then maps them to "heavyweight" `PlotEntities`, which as far as i can tell, just adds a d3 selection.

For perf, we should consider using lightweight entities when filtering, then convert to `PlotEntity`s as a post process.

[2017-01-05 20:10] themadcreator commented on #3145
Alternate suggestion: more caching of these objects.

[2017-01-05 20:34] CalvinFernandez commented on #3141
@awsumnik #3146  should help you do this

[2017-01-05 23:02] #3141 closed, assigned to nobody

[2017-01-06 15:33] CalvinFernandez opened #3147 "Stack Overflow: Merge [plottable.js] into [plottable]"
Hi all! We'd like to merge the "plottable.js" tag into the "plottable" tag. Our github repo is `/palantir/plottable`, and our npm package is called "plottable" and it makes sense to maintain naming consistency in Stack Overflow as well.

[2017-01-07 12:03] ghost commented on #3134
One fault lies in dispatcher.ts line 23 'document.addEventListener(...)'. 'document' will always be the parent window's document. When this is fixed (I made a simple hack to make it work), an exception occurs when the new window gets closed:

[code]
But panning and zooming does work as expected.

[2017-01-09 20:57] hellochar commented on #3128
Will this break ts < 2.0 consumers?

[2017-01-09 21:00] hellochar opened #3150 "update copyright headers to 2017"

[2017-01-09 21:03] hellochar commented on #1808
Fixed by #3137

[2017-01-09 21:03] #1808 closed

[2017-01-09 21:05] adidahiya commented on #3128
@hellochar likely yes, since `undefined` and `null` will start appearing in type positions, but there's a chance that we have already started using syntax that produces code in `plottable.d.ts` which is not usable with TS <2.0.

[2017-01-09 21:06] hellochar commented on #2522
Fixed by #3111 !

[2017-01-09 21:06] #2522 closed

[2017-01-09 21:10] hellochar commented on #2613
You can now do this by calling `PanZoom.setMinMaxDomainValuesTo()` after attaching the PanZoom interaction.

[2017-01-09 21:10] #2613 closed

[2017-01-09 21:11] hellochar commented on #3002
Hey @joyt I'm closing as a dupe of #3092 which has more activity on it, lemme know if they aren't the same ticket!

[2017-01-09 21:11] #3002 closed

[2017-01-09 21:31] hellochar commented on #2872
Hey @jasperSpeicher, sorry for the delay here - cool to see you guys chose Plottable! Panning on both Chrome and Safari felt somewhat sluggish for me, and debugging looks like there's some layout thrashing involved in re-rendering the time axis each frame. We'll keep this in mind when prioritizing how to tackle performance improvements. Thanks for the report!

[2017-01-10 18:42] hellochar opened #3152 "Category axis labels containing many spaces disappear"
Repro: https://jsfiddle.net/hellochar/0zg2jkus/

svg-typewriter's Measurer ignores whitespace in its calculations. Labels with lots of whitespace may be measured to be just below the maximum width, but be rendered in the DOM wider than the axis width (because of the whitespace). categoryAxis will then hide that label because it is overflowing the bbox of the axis.

The number of spaces needed to t

[2017-01-10 18:46] themadcreator commented on #3152
seems like the right solution is to make svg-typewriter account for whitespace

[2017-01-10 19:08] fernandomora opened #3153 "grunt-blanket-mocha underlying phantomjs version produces segmentation fault in macOS Sierra"
Steps to reproduce starting from a clean repo:
[code]

When grunt test task is run:
[code]
It returns:
[code]

When phantomjs is directly executed:
[code]
It produces a segmentation fault
[code]

Reproducing same steps in other macOs Sierra environments produces same error.
Reproducing same steps in other Linux environments works properly.

This seems related to https://github.com/ariya/phantomjs/

[2017-01-10 20:06] hellochar commented on #3153
Thanks for the detailed issue. We're not using Sierra yet so it's unlikely we'll upgrade to phantomJS 2.0 in the immediate future. Are you able to use your workaround to do what you need @fernandomora, or is there further action you're looking for?

[2017-01-10 22:24] adidahiya commented on #3153
PhantomJS 2.0 is pretty standard at this point (most of our projects use it), so we should add this to the list of tech debt and address it in the next couple months.

[2017-01-11 01:09] #3150 closed, assigned to hellochar

[2017-01-11 09:41] fernandomora commented on #3153
@hellochar I can deal for now with my workaround, thanks.
But when the new version of `grunt-blanket-mocha` is released, the upgrade should be pretty simple: https://github.com/GruntBlanketMocha/grunt-blanket-mocha/issues/41

[2017-01-11 14:02] adidahiya commented on #3153
We might want to just switch to Istanbul since we use that in our other projects.

[2017-01-13 02:47] hellochar commented on #3059
This is actually a dupe of #3152 (now that we've added trimming out-of-bounds labels) and will probably be fixed with the new svg-typewriter release; going to close this in favor of that ticket.

[2017-01-13 02:47] #3059 closed, assigned to nobody

[2017-01-16 20:11] hellochar commented on #3103
Dupe of #2617, lets consolidate conversation over there ( @siFeiden looks like there's discussion of some workarounds in that thread)

[2017-01-16 20:11] #3103 closed, assigned to nobody

[2017-01-16 20:47] hellochar opened #3160 "when there are too many Category labels, all of them get hidden"
![image](https://cloud.githubusercontent.com/assets/1079495/21998450/de7d8264-dc02-11e6-8cf1-43bda6128a8c.png)

Related to #2420

Explore downsampling the # of shown labels so we at least show something

[2017-01-16 21:03] hellochar commented on #3160
I'm going to implement this by:

* introducing a minimum-width-per-label (e.g. 15px)
* introducing a `downsampleRatio` (integer >= 1) that's computed as "ceil(minimum-width-per-label / (width each label would be given if they were all drawn))"
* drawing only each `downsampleRatio` label

[2017-01-16 22:07] hellochar opened #3161 "maxWidth for Series Legend"
This would prevent legends from growing overly large and dominating the table layout's space request algorithm.

[2017-01-16 22:09] hellochar opened #3162 "configurable maxLines for series legend labels"
Series legends may get really long e.g. "count_of_sum_of_xs_compared_to_intrinsic_y_value". Expose a configuration option on legends to allow line wrapping on each series legend.

[2017-01-16 22:24] CalvinFernandez opened #3163 "API: Standardize dimension api"
In some places we use `Bounds`, in some places we use `width: number, height: number` . Lets use one (preferably `Bounds`) everywhere .

[2017-01-17 11:44] armano2 opened #3166 "Pie chart, support for padAngle"
Propably i do not understund somethink but d3 allows us to set `padAngle` to pie charts

http://bl.ocks.org/mbostock/f098d146315be4d1db52

idk how to set this value by plottable,

In code i found `startAngle`, `endAngle`, `outerRadius`
[code]
https://github.com/d3/d3-3.x-api-reference/blob/master/Pie-Layout.md

[2017-01-17 19:38] hellochar commented on #3166
Hey @armano2 thanks for your interest. We don't actually expose that option in Plottable but it's a reasonable feature request. We'd welcome a PR to add support for it.

[2017-01-17 22:02] armano2 commented on #3166
i already started working on implementing this 🗡

[2017-01-17 22:33] hellochar opened #3168 "startAngle()/endAngle() don't update pie center"
Repro: https://jsfiddle.net/hellochar/yjb6Ln3c/3/

1) render a pie plot
2) modify the `startAngle` or `endAngle`

expected: pie chart's center moves to update in response to the new start and endAngles
actual: pie chart center doesn't move

Workaround: call plot.redraw() after updating startAngle or endAngle

[2017-01-18 03:17] #3160 closed, assigned to hellochar

[2017-01-18 15:24] CalvinFernandez opened #3169 "API: Standardize Interfaces to use `IName` syntax instead of `Name`"

[2017-01-18 16:18] carlodx opened #3170 "[Pie] Updating data causes wrong slice proportions on pie plot"
I've been fiddling around with the `Pie Plot` and I've found out that the proportions appear messed up when you update the data in the dataset.

**Reproduce:**
1. Render a pie plot
2. Update the dataset

**Expected:** The pie plot shows proportions correctly
**Actual:** The pie plot shows some strange proportions

PS: I've tried using updating the dataset with the exact same data as before and thi

[2017-01-18 20:17] hellochar commented on #3170
Thanks for the report; I suspect the underlying d3 scale is being misconfigured somehow...

[2017-01-18 21:37] hellochar commented on #3117
The second two points will hopefully be addressed by #3164

[2017-01-19 16:16] CalvinFernandez opened #3173 "Styles: Use SCSS instead of plain CSS"

[2017-01-19 22:43] themadcreator commented on #3152
This is fixed, closing

[2017-01-19 22:43] #3152 closed, assigned to nobody

[2017-01-19 22:43] #3142 closed, assigned to themadcreator

[2017-01-19 22:58] CalvinFernandez commented on #3143
closed by #3159

[2017-01-19 22:58] #3143 closed, assigned to CalvinFernandez

[2017-01-20 18:29] CalvinFernandez commented on #1041
completed in #3156

[2017-01-20 18:29] #1041 closed

[2017-01-20 18:35] CalvinFernandez commented on #1577
completed

[2017-01-20 18:35] #1577 closed

[2017-01-20 18:37] #1379 closed

[2017-01-20 18:54] #2339 closed

[2017-01-20 18:55] CalvinFernandez commented on #2210
no action on this ticket. closing

[2017-01-20 18:55] #2210 closed

[2017-01-20 18:57] #1998 closed

[2017-01-20 18:58] CalvinFernandez commented on #1998
#3172 should provide a means of resolution

[2017-01-20 18:59] CalvinFernandez commented on #1871
closing -- guidelinelayer is sufficient.

[2017-01-20 18:59] #1871 closed

[2017-01-20 19:00] #2362 closed

[2017-01-24 21:17] hellochar opened #3179 "Category Axis's margin makes it take space more aggressively"
repro: https://jsfiddle.net/hbw4n6zk/7/

1. move y axis margin slider from 0 to 40

Expected: only y axis margin increases
Actual: y axis requested space increases a lot while margin stays mostly the same

y axis margin should behave something like the x axis margin

[2017-01-24 23:32] helenkg commented on #3162
@hellochar let's do that this week, worst case next? as well as #3161?

[2017-01-25 09:05] Temetz opened #3181 "Error in Gantt Chart example"
In the [Gantt Chart example](http://plottablejs.org/examples/gantt/) the `x2` takes two parameters. However in the [documentation](http://plottablejs.org/docs/classes/plottable.plots.rectangle.html#x2) and the [code](https://github.com/palantir/plottable/blob/2dd9ef5417e88c55f73d6c7f1bfca1ded3b1e655/src/plots/rectanglePlot.ts#L143) `x2` only takes one.

[code]
Should be
[code]

Could have fixed th

[2017-01-25 18:27] #3181 closed, assigned to nobody

[2017-01-26 18:45] leemi opened #3183 "RequireJS compatibility is broken in v2.7.0+"
v2.7.0 doesn't include svg-typewriter as a dependency.

[2017-01-27 21:27] CalvinFernandez commented on #3183
closed in v2.8.0 thanks @leemi

[2017-01-30 16:55] leemi commented on #3183
@CalvinFernandez  Has this been fixed?
There haven't been any changes to bower.json, and I am still getting a SVGTypewriter reference error with v2.8.0

[2017-01-30 21:54] themadcreator commented on #3183
Hey @leemi, sorry that it's still not working.

I re-released the library and https://raw.githubusercontent.com/palantir/plottable/develop/plottable.js appears to contain SVGTypewriter in it. Also, the jsfiddles i've made with it seem to work. Can you set up a fiddle with 2.8.0 so we can try to debug?

[2017-01-30 22:06] themadcreator commented on #3183
For example, I just did a fresh `bower install plottable@2.8.0` and added this simple HTML page:
[code]

That seemed to work for me with no errors.

[2017-01-30 22:11] themadcreator commented on #3183
Also worked with `plottable.min.js`

[2017-01-30 22:14] themadcreator commented on #3183
Also typing `SVGTypewriter` in the console gives me the API object.

[2017-01-31 18:29] #2885 closed

[2017-01-31 18:32] CalvinFernandez opened #3190 "Add entityNearest for axes labels"
Enable users to determine which axis label was clicked on.

[2017-01-31 20:33] leemi commented on #3183
Ah, looks like I've found the problem. It's with RequireJS compatibility not bower.
Here's a [fiddle](https://jsfiddle.net/d5mvcqfw/1/) of the problem.
If you change the version of plottable to 2.6.0, this works fine.

It looks like SVGTypewriter is packaged into plottable.js differently since 2.7.0.

[2017-01-31 21:06] CalvinFernandez opened #3191 "Infrastructure: Remove Bower Support"
Remove Bower support in Plottable 3.0.

[2017-01-31 21:07] CalvinFernandez commented on #1493
closed by #3172

[2017-01-31 21:07] #1493 closed

[2017-01-31 21:08] CalvinFernandez commented on #3161
closed by #3172

[2017-01-31 21:08] #3161 closed, assigned to CalvinFernandez

[2017-01-31 21:08] CalvinFernandez commented on #3162
closed by #3172

[2017-01-31 21:08] #3162 closed, assigned to CalvinFernandez

[2017-01-31 21:09] CalvinFernandez commented on #3144
closed by #3182

[2017-01-31 21:09] #3144 closed, assigned to themadcreator

[2017-02-01 15:30] CalvinFernandez opened #3193 "Allow bar label total text to stick outside the plot area"
When drawLabel is enabled for a bar chart, the bar total for the tallest bar isn't rendered since it doesn't fit between the top of the bar and the top of the chart
![4ccad4a0-e7b2-11e6-990b-2b7bf064ebaa](https://cloud.githubusercontent.com/assets/2644420/22513160/4d2b3ac2-e869-11e6-893a-33861df0ad10.png)

Allow top-most label to render outside of the chart.

![labels3](https://cloud.githubusercon

[2017-02-01 18:51] hellochar opened #3194 "allow PanZoom on scales whose max < min"
You can `scale.domain([10, 0])` to get a scale that goes in the "reverse" direction and almost all of Plottable handles it correctly, except PanZoomInteraction errors. We should make PanZoom support it

[2017-02-01 21:06] adidahiya opened #3196 "Bar labels should be more conservative about requesting space"
Instead of drawing labels when text barely fits within a bar, I'd like labels to request 10px of extra padding on all sides before being drawn. This requires users to zoom in or create less dense charts in order to see labels. Currently, it is too easy to draw plots with too much visual complexity with labels.

![2017-02-01 14 31 47](https://cloud.githubusercontent.com/assets/723999/22526174/3b3f4

[2017-02-02 11:39] realph commented on #747
Any update on this? Setting the xScale's outerPadding to 0 doesn't solve the issue for me. I want the graph to touch both ends of my component container.

http://jsfiddle.net/07h87qbb/2/

[2017-02-02 13:52] pkwi commented on #3196
+1 for the extra padding around the label.
We should also standardise when do we show labels. It's strange that some labels show up and some don't. We should show labels when all fit (by the longest label).

[2017-02-02 14:38] realph opened #3197 "Remove x padding on area plot"
I'm having some trouble removing the padding on the left/right side of the component. I thought `outerPadding` would solve this but it didn't.

~http://jsfiddle.net/07h87qbb/~
*Updated link*: http://jsfiddle.net/07h87qbb/2/

What I want:
<img width="582" alt="screen shot 2017-02-02 at 14 36 48" src="https://cloud.githubusercontent.com/assets/2334951/22553579/2eaf8426-e955-11e6-8cd9-9fce36e36f29.pn

[2017-02-02 15:18] realph commented on #3197
Managed to solve this by setting `innerPadding` to `999`. Tell me there's a better way around this? http://jsfiddle.net/07h87qbb/1/

[2017-02-02 18:34] themadcreator commented on #747
In your fiddle @realph the inner and outer padding was set to 0.1, but if you set it to 0, it looks to me like it does go edge-to-edge: http://jsfiddle.net/5y0y4hj1/

![image](https://cloud.githubusercontent.com/assets/569364/22562868/311ee340-e933-11e6-9986-dd512395965d.png)

[2017-02-02 18:44] realph commented on #747
@themadcreator Sorry I posted the wrong fiddle, updated the fiddle link in my original question.

Managed to fix it by setting the `innerPadding` to `999`. http://jsfiddle.net/07h87qbb/1/

Wanted to know if there was a better way around this.

[2017-02-02 18:50] CalvinFernandez opened #3198 "API: Use `TransformableScale` in XYPlots instead of simply, Scale"
Setting x and y scales should require passed-in scales to be Transformable, not simply base scales.

https://github.com/palantir/plottable/blob/develop/src/plots/xyPlot.ts#L154
https://github.com/palantir/plottable/blob/develop/src/plots/xyPlot.ts#L193

[2017-02-02 20:11] hellochar opened #3200 "Time Axis errors when singleValueDomain is not a Date type"
https://jsfiddle.net/hellochar/3m3jukj5/

expected: Time Axis handles single value domain correctly
actual: error:

[code]

[2017-02-02 20:41] hellochar commented on #747
@realph The real value that controls the empty space is `xScale.padProportion(0)` - see http://plottablejs.org/docs/classes/plottable.scales.linear.html#padproportion . All scales have a default value of 0.05, setting it to 0.0 should work for you.

[2017-02-02 22:53] #3196 closed, assigned to CalvinFernandez

[2017-02-02 23:08] themadcreator commented on #3194
Fixed!

[2017-02-02 23:08] #3194 closed, assigned to themadcreator

[2017-02-02 23:33] themadcreator commented on #3183
Gotcha @leemi, we weren't able to get to this issue this week, but hopefully we can get something for you in 2.10.0

[2017-02-03 20:26] #3052 closed, assigned to hellochar

[2017-02-03 21:37] adidahiya opened #3207 "library version not accessible at runtime"
![image](https://cloud.githubusercontent.com/assets/723999/22609392/068ef870-ea2f-11e6-8740-e3985919f43a.png)

[2017-02-04 00:46] hellochar opened #3211 "turn coverage back on in tests"
Coverage was turned off since I couldn't figure out how to make it play nicely with the webpacked bundle. Figure out a path forward

[2017-02-04 00:48] hellochar opened #3212 "Don't commit built plottable.js file"
Remove the built file from our committed files since it adds noise to PRs, causes git conflicts, etc.

This will break existing users who pull us in through a script tag. To unbreak them, we should publish every dev build (#3308), which will include the built .js file, and recommend users reference that through https://unpkg.com/.

handrail: replace plottable.js with a script that emits a console

[2017-02-04 00:49] hellochar opened #3213 "Include chai, mocha, and sinon through webpack in tests"
Our test pages have script tags pointing to e.g. "../node_modules/chai/dist/chai.js" ; these should just be bundled instead of externally imported.

sinon 1.x doesn't play well with bundlers so we need to upgrade to 2.0 or find an alternative

- [ ] chai
- [ ] mocha
- [x] sinon (upgraded to 2.0)

[2017-02-05 20:54] adidahiya commented on #3213
re: sinon. you can either use `karma-sinon` to get it working with Sinon v1, or you can upgrade to v2 (I've had success with both)

[2017-02-05 23:10] adidahiya commented on #3212
I don't think you need to remove the standalone bundle from the plottable distribution (we just added it to blueprint in https://github.com/palantir/blueprint/issues/303), but I agree it shouldn't be checked into the repo.

[2017-02-06 11:23] neevany opened #3214 "consider adding a chart with tooltip in examples"
i thought tooltips are not supported till i saw the tutorial

[2017-02-06 12:01] hellochar commented on #3212
I see, makes sense. Are you guys also publishing dev builds to npm?

[2017-02-06 12:02] adidahiya commented on #3212
@hellochar no, not yet

[2017-02-06 12:04] adidahiya opened #3216 "NPM install produces many warnings in development"
Time to upgrade some dependencies.

Mildly related: #3153

[code]

[2017-02-06 12:48] adidahiya opened #3217 "Summed bar labels are inconsistent with regular bar labels"
following up on #3196. summed bar labels did not get that enhancement, so they now draw inconsistently w/r/t regular labels. in this chart, I expect all the labels to be hidden:

![image](https://cloud.githubusercontent.com/assets/723999/22647577/a6a149b8-ec72-11e6-88c7-8f1cdb39afcb.png)

[2017-02-06 13:55] BaEigner opened #3219 "bar and stackedbar plots are slow"
Sorry if this is already posted. My problem is that the drawing of bar plots, especially stackedbar are extremely slow compared to e.g. line. Created a JSFiddle to demonstrate this:

https://jsfiddle.net/BaEigner/17yq0zne/

It draws 3 different charts:

- one with two bar plots mimicking the stackedbars
- one with a simple stackedbar plot
- and one with two line plots for performance comparison

P

[2017-02-06 15:15] adidahiya commented on #3219
This performance is consistent with what we expect when manipulating more DOM nodes. A line plot only requires one `<path>` for a single series, while a bar plot requires a `<rect>` node per data point. You can see this difference when you inspect the SVG.

We _are_ generally interested in fixing performance problems in Plottable, but this issue isn't really framed in a tractable way at the moment

[2017-02-06 15:41] BaEigner commented on #3219
Thanks for the response, it really makes sense. :) Only one more question: then why there's a significant performance difference the two bar plots (I mean the simple bar based "stacking" and the stackedbar), and not only in the rendering part, but the plot creation?

[2017-02-06 16:15] hellochar commented on #3219
@BaEigner I've been tracking bar chart performance; you're right in that there is a lot of unnecessary computation being done right now. One major contributor is that `Bar.render`, which should be fast (its responsibility is only to queue the bar chart to render in the next frame), instead calls `Plot.updateExtents()` which does a linear pass through all the data, and is even in some cases recursi

[2017-02-06 17:14] hellochar opened #3221 "BarPlot#entityNearest causes unnecessary memory allocations"
We create and then immediately throw away object instances when doing our entityNearest check. This causes a growing number of memory allocations in the common use-case of calling it inside a tooltip interaction:

![image](https://cloud.githubusercontent.com/assets/1079495/22657730/c7a0585a-ec97-11e6-83c0-719b59ce6b3a.png)

This also causes perf issues since GC's start taking up a lot of time.

I'

[2017-02-07 08:07] BaEigner commented on #3219
Thanks @hellochar, I'll stay tuned and looking forward for the results of your investigation. Thank you for your efforts!

[2017-02-07 15:00] CalvinFernandez commented on #3050
+1 would love this

[2017-02-07 16:18] realph opened #3222 "Plottable.js Custom Formatters"
Does anyone know how to achieve custom formatting when using [Plottable.js][1]. You used to be able to pass in a function to the `Custom()` method to format your numbers, like so:

    let customFormatter = new Plottable.Formatter.Custom(someCustomFunction);
    let yAxis = new Plottable.Axes.Numeric(this.yScale, 'left').formatter(new Plottable.Formatter.Custom(customFormatter))

Any idea how to d

[2017-02-07 18:32] hellochar opened #3224 "simplify webpack configuration with multiple outputs"
right now webpack config is an array of two totally separate configs; consider using (multiple outputs)[https://github.com/webpack/webpack/issues/1189] to simplify and possibly optimize building/watching

[2017-02-08 14:35] BaEigner commented on #3222
Just pass a function to the formatter, like:
[code]
Working example: https://jsfiddle.net/BaEigner/z72w7mbk/

Hope that I did not misunderstood you question. :)

[2017-02-09 21:22] realph commented on #3170
@carlosdiazh @hellochar Did you ever find a solution for this?

I'm experiencing the same issue here: https://jsfiddle.net/xegd3e2t/

[2017-02-10 08:48] carlodx commented on #3170
@realph I haven't looked into it yet. For now im just creating a new component when I change the data.

[2017-02-10 12:32] #3217 closed, assigned to nobody

[2017-02-13 15:52] hellochar commented on #3127
Fixed by #3184

[2017-02-13 15:52] #3127 closed, assigned to nobody

[2017-02-13 15:53] hellochar commented on #2981
No longer relevant in 3.0.0

[2017-02-13 15:53] #2981 closed

[2017-02-13 15:53] hellochar commented on #3126
Fixed by #3164

[2017-02-13 15:53] #3126 closed, assigned to nobody

[2017-02-13 16:35] hellochar opened #3229 "category axis downsampling breaks with sheared labels"
http://jsfiddle.net/hellochar/gbdq5fq9/

Looks like there's some moments where the axis labels are all disappearing before downsampling takes effect:

![image](https://cloud.githubusercontent.com/assets/1079495/22891962/f6ed2d12-f1de-11e6-85f1-c9b0d71404ac.png)

![image](https://cloud.githubusercontent.com/assets/1079495/22891969/fd094e7e-f1de-11e6-9404-a907e472ba7d.png)

![image](https://cloud.gi

[2017-02-14 15:25] hellochar opened #3232 "There are nonsensical shear + angle options"
There are configuration options that I'm not sure anyone would ever find useful:

angle 90, shear 45:
![image](https://cloud.githubusercontent.com/assets/1079495/22935051/377cfb94-f29f-11e6-846f-992cf751e52f.png)

angle -90, shear -45:
![image](https://cloud.githubusercontent.com/assets/1079495/22935085/60e5420c-f29f-11e6-9b23-e7251e651447.png)

If we agree there's no use for these, it'd be nice t

[2017-02-14 15:26] hellochar opened #3233 "shear allows labels to overlap the plotting area"
Shear allows the labels to escape the bounding box and e.g. overlap the plotting area in an ugly way:

angle 0, shear 45 (or -45):
![image](https://cloud.githubusercontent.com/assets/1079495/22935108/7aa4701e-f29f-11e6-8c2c-10fc6f82608e.png)

[2017-02-15 15:42] #3229 closed, assigned to hellochar

[2017-02-15 19:57] hellochar commented on #3212
d3v4 ( #3091 ) complicates this since we currently don't bundle d3 with our standalone (expecting users to pull it in for us). Users doing `<script src="d3js.org/3.5.16/d3.js"> <script src="plottable">` will break since we now rely on 4.0. Asking them to point to `4.0/d3.js` is not enough since we use `d3-selection-multi` which isn't part of the standard bundle.

I think we should just change the

[2017-02-16 14:51] adidahiya commented on #3212
Is there any CDN-hosted bundle out there that has _all_ the d3v4 packages included?

[2017-02-16 15:50] hellochar commented on #3212
Not anything officially supported. This makes sense; separate bundles begets itself to a "plugin" architecture, so it doesn't make sense for CDNs to hold combinations of different modules included/not included

[2017-02-17 10:00] yongjun21 opened #3239 "GuideLineLayer should expose method to hide guideline"
Current method to hide guideline involves setting `pixelPosition` to negative number which is just a hack and a not ideal one.

For example, if I uses a categorical scale, `scale.invert` will be undefined thus when `_syncPixelPositionAndValue` is called, error will be thrown. Therefore prefers a solution that directly set visibility or opacity to 0 rather than manipulating pixelPosition.

[2017-02-17 23:02] hellochar opened #3240 "Various housekeeping improvements after d3v4"
Plottable API
* Simplify the accessors/projectors/appliedAccessor stuff
* stop making new d3.line() etc. objects for every draw call
* Simplify animation API
* remove _additionalPaint
* reduce callback hell and duplicated computation of everything
* Simplify includedValuesProvider/scale callbacks

Plottable's usage of d3
* Use real types instead of SimpleSelection
* de-dupe Map and d3.Map and es6M

[2017-02-20 13:00] adidahiya commented on #3240
:+1: :+1:

[2017-02-23 16:38] hellochar opened #3243 "Drop IE9 support; support IE11 and Edge only"
Microsoft doesn't even support it anymore so neither should we

[2017-02-23 23:01] hellochar opened #3244 "rework legend code to use HTML positioning"
Legend code is awful and overcomplicated; most of what we need is achievable through simple HTML and CSS. Use that instead.

[2017-02-23 23:08] hellochar commented on #1540
Will be fixed by #3244 (probably with CSS padding)

[2017-02-23 23:08] #1540 closed

[2017-02-23 23:21] hellochar commented on #2418
Closing since original issue was resolved

[2017-02-23 23:21] #2418 closed

[2017-02-23 23:23] #3091 closed, assigned to hellochar

[2017-02-24 21:57] hellochar commented on #3222
@BaEigner's answer is correct (thanks!).

[2017-02-24 21:57] #3222 closed, assigned to nobody

[2017-02-27 17:58] leemi commented on #2449
Any chance a release will be done anytime soon? The version in @types is a super old 1.4 version of the typings.
Thanks!

[2017-02-27 17:59] rcchen commented on #2449
It seems that Plottable auto-publishes typings via NPM now so you shouldn't have to install separate typings from `@types` in order to use this library

[2017-02-27 18:20] leebyp opened #3246 "DoubleClickInteractions sometimes doesn't fire onDoubleClick"
Repro steps:
- set the DoubleClickInteraction on a plot
- add a callback to the handler
- click once
- without moving the mouse, double click
- the double click interaction doesnt fire

Source of bug:
- the double click interaction is distinguishing between click and doubleclick using an internal enum, and time independent logic which can become out of sync if you click in the same position.

[2017-02-27 21:37] hellochar commented on #2449
@rcchen's answer is correct. Let me know if this still pops up

[2017-02-27 21:37] #2449 closed

[2017-02-28 02:05] adidahiya commented on #3246
Is the [`dblclick`](https://developer.mozilla.org/en-US/docs/Web/Events/dblclick) event not sufficient in this case?

[2017-02-28 14:26] fernandomora commented on #3170
I think this bug is very serious. It silently causes pies show wrong and false information, that could produce taking wrong decisions based on the produced pie.
Maybe, the ability to update pie data, should be disabled instead of allowing it but showing wrong information.

[2017-03-01 00:27] leebyp commented on #3246
@adidahiya do you mean in `DoubleClickInteraction.ts` file? I'm not sure why it uses the internal state.

[2017-03-06 23:35] hellochar opened #3253 "remove additionalPaint"
can be implemented by another DrawStep

[2017-03-06 23:36] hellochar opened #3254 "DRY label drawing code and move it into Drawers"
Label drawing code is duplicated across Plots; additionally, Plots shouldn't be responsible for drawing directly to the DOM

[2017-03-06 23:39] hellochar opened #3255 "Separate the data layer and rendering layer in Plot"
From discussion in #3248 , Plots currently do two things:

a) Manage the data objects that represent Plots
b) Draw to the DOM or otherwise manipulate the rendering context to represent the data objects

We should separate these concerns into separate files

[2017-03-08 00:53] leebyp opened #3257 "Fix entityNearest method for pie and segment plots"

[2017-03-08 02:21] hellochar commented on #3257
It's a good idea to add a description of what's concretely wrong, how to fix it, any investigations/thinking you've already done, etc. otherwise it's easy to forget what the ticket is for in a few weeks and lose mental work

[2017-03-09 00:42] hellochar opened #3260 "look into removing foreground() and background() elements"
Component adds a foreground() and background() svg element to every Component. This are not used in our own code and only exist as a convenience for users to add custom visuals before/after the content. In an HTML world this may not make sense anymore (or at least they shouldn't be SVG specific).

Look into removing them: see if our users use it and how they use it.

[2017-03-09 00:43] hellochar opened #3261 "Remove Component's "box" API"
Component has a “box” API that simply builds a <g> element whose width/height is always 100% (aka it auto-updates in response to layout changes).

It's currently only used for two things:
* the _boundingBox, which is used by (a) axes to cut off overflowing axis labels
* the .background-fill, see #1731 (used by 3rd party users to style the background using CSS)

These behavior are trivial in an HTM

[2017-03-09 01:07] hellochar opened #3262 "Plot drawing is slow when there are many data points"
Rendering many data points is slow and resource intensive. e.g. 100k grid rects will totally lock up the browser while the Plot is rendering. In worse situations it can cause the browser to crash.

Some ideas for improving plot drawing performance:

- [x] Render to a canvas element instead of SVG (#3266)
- [ ] Cache the result of data being passed through scale/accessor computations (in preliminar

[2017-03-09 01:21] hellochar opened #3263 "Solidify terminology around Components"
The code references, in various different places:

* "top level component"
* "top level element"
* "root element"
* "root component"
* component._element
* "root DOM node"

We should decide on one true terminology, document it, and use it everywhere.

The (non-exhaustive) concepts that Component does have are:

* "Component tree" - components have parents, and ComponentContainers can nest children

[2017-03-09 01:25] hellochar opened #3264 "Remove content() from all components"
Component currently always adds a `content()` SVG element upon which children can place SVG-specific things related to this component. This is uncomposable and it doesn't make sense to special-case SVG like this.

We should refactor the code to:
1. remove the notion of "content()"; subclasses using SVG add SVG things themselves (this plus removal of foreground/background/boxContainer, see #3260 #3

[2017-03-09 01:31] hellochar opened #3265 "Replace transformAwareTranslator with using event.offsetX/event.offsetY"
We have a `transformAwareTranslator` class that is responsible for converting MouseEvents into coordinates relative to the root component, being aware of possible CSS transforms applied from parents. It does this by moving a hidden, 1px size `<svg>` element around in the DOM and measuring the `getBoundingClientRect()`. This implementation causes thrashing and adds complexity to the code.

`event.o

[2017-03-09 01:34] hellochar commented on #3239
Hey @yongjun21 thanks for your interest in Plottable. You can dynamically apply CSS styles to the guideline to show/hide it:

[code]

[2017-03-09 01:34] hellochar commented on #3207
Fixed now

[2017-03-09 01:34] #3207 closed, assigned to nobody

[2017-03-09 01:37] hellochar commented on #3265
looks like offsetX/offsetY doesn't account for scrolling, and only gets the offset to the direct target (https://jsfiddle.net/hellochar/3soLpj9f/); I think we can still explore this option though since there's currently no scrolling in Plottable and we can add the direct target's position relative to component root.

[2017-03-09 03:10] yongjun21 commented on #3239
@hellochar I knew manipulating the CSS style is one way to hide the guideline. But what I'm pointing out is this should have been made explicit as a method on the guideline object rather for users to figure out themselves. I think this is a valid feature request. Rather than closing the issue, you can just leave it open, if no ones is working on it, I can send a PR over the weekend.

[2017-03-09 03:49] hellochar opened #3266 "Canvas renderer for plots"
Implement rendering Plot visual primitives to canvas to improve performance of our plots. Instead of having one SVG element per visual primitive, draw all of them to one canvas element.

Questions:

1. How will we style selected elements? In SVG we'd use `Plottable.Entity.selection`, but there is no SVG element in Canvas
    1. possible solution: Make `Plottable.Entity` a real class that represent

[2017-03-09 19:00] adidahiya commented on #3239
I agree, this sounds like a valid feature request

[2017-03-09 19:01] adidahiya commented on #3262
check out https://github.com/acdlite/react-fiber-architecture for what's roughly the state of the art right now

[2017-03-09 20:23] leebyp opened #3268 "scatterPlot _entityVisibleOnPlot is incorrect"
(ScatterPlot case)
- `DomUtils.intersectsBBox` should have `bbox.x + bbox.width <= xRange.max` and similarly for `yRange`
- the `bounds` passed in are calculated from the origin of the plot **including** the axis, but the entity position excludes the axis

Update:
This is a bigger problem with all plots. The problem is more obvious when trying to use an interaction on a plotB in following group. T

[2017-03-09 21:17] hellochar opened #3269 "check for regressions after removing safari backing element"
HTML components removed the safari backing element but a preliminary look over the quicktests in Safari didn't show any bad behavior; dig into the paper trail for the safari backing element and feel confident that nothing broke

[2017-03-09 22:04] hellochar opened #3270 "Upgrade to ts2.1 and use mapped types"
mapped types allow us to DRY our string literal code and have more type safety. Danger here is users under ts2.1 will not be supported anymore.

[2017-03-09 22:07] hellochar commented on #3266
Another option: use d3.Selection as our "data layer" objects (so we still use .attr() to set properties on detached drawing primitive DOM elements, and then write a translator that takes a list of these elements and renders them onto Canvas).

Pros: users can still use .selection.attr() to style individual elements
Cons: we lose some amount of perf due to still holding DOM elements instead of simp

[2017-03-10 00:10] hellochar opened #3273 "canvas is blurry on high DPI displays"
Retina display (note: should click into them to prevent github's image 100% style from distorting the image):
<img src="https://cloud.githubusercontent.com/assets/1079495/23776336/92c83edc-04e2-11e7-9563-41e19d2c569d.png"></img>

Non-retina display:
<img src="https://cloud.githubusercontent.com/assets/1079495/23776343/9f0c73c0-04e2-11e7-92c7-8bb209454c2d.png"></img>

Probably some solution like ht

[2017-03-10 00:18] leebyp commented on #3246
fixed with #3252

[2017-03-10 00:18] #3246 closed, assigned to nobody

[2017-03-10 01:24] adidahiya commented on #3270
I definitely think you should start requiring TS 2.1 as a minimum version in 3.0. It's been out for a long time. This doesn't mean you have to _use_ all the features of it, just declare it as a minimum dependency.

[2017-03-10 04:16] hellochar opened #3274 "plot.selections() throws an error on canvas renderer"
[code]

[2017-03-10 04:52] hellochar commented on #2355
With the new Typesettable changes and Measurer caching axis drawing is no longer a bottleneck

[2017-03-10 04:52] #2355 closed

[2017-03-10 04:59] hellochar commented on #1307
Not needed in a downsampling world

[2017-03-10 04:59] #1307 closed

[2017-03-10 21:57] hellochar opened #3277 "Interactions error if registered on detached Component"
[code]

Then, try to click or pan/zoom, you'll hit:

```Uncaught TypeError: Cannot read property 'node' of undefined    at Translator.isInside...```

The erroneous line is in transformAwareTranslator:
[code]

Workaround: detach the panzoom interaction when you detach the axis.

Request: we should either:

a. detach interactions automatically when the connected element is detached (and re-attach th

[2017-03-10 23:26] hellochar opened #3278 "@types/d3 should be a normal dependency"
See https://github.com/Microsoft/types-publisher/issues/81

We're a library that exposes d3 types in our public API, so typescript users should get `@types/d3` when they install Plottable. Otherwise, they will `npm install plottable`, and then get type errors when the compiler comes across d3 types in the Plottable public API.

[2017-03-15 00:31] #3278 closed, assigned to nobody

[2017-03-15 01:08] #3274 closed, assigned to hellochar

[2017-03-15 03:42] hellochar commented on #2993
Fixed when we moved from grunt to npm scripts

[2017-03-15 03:42] #2993 closed

[2017-03-15 03:43] hellochar commented on #3023
Not needed with ts' built in globbing now

[2017-03-15 03:43] #3023 closed

[2017-03-15 03:44] hellochar opened #3284 "Move totally away from grunt"
npm scripts are the best practice and should reduce the complexity of our set up.

* move from jscs and eslint to tslint
* move from uglify grunt plugin to webpack uglify
* don't build .zip files anymore (it's 2017, cmon)
* run mocha/karma from the command line, or move to jest ( #3285 )

[2017-03-15 03:47] hellochar opened #3285 "Migrate our tests to use jest framework"
The jest testing framework is better suited to modern tooling; move onto that.

It has a JSDOM implementation that runs on node. It also has mocks, coverage, describe/beforeEach/afterEach, and expect built in (so we could get rid of sinon, mocha, karma, and chai).

You can't run Jest tests in the browser directly which might be more of a roadblock for us.

Saucelabs assumes that your unit tests ar

[2017-03-15 03:59] hellochar commented on #3008
We now use webpack to build the bower plottable.js and the `this` in `__extends = this.__extends || ` should now reference the specific module being wrapped so I don't think this is an issue anymore. Also our code is in module format now so if you're in an npm environment you can just `npm install plottable` and `require("plottable")` and you should be good to go!

[2017-03-15 03:59] #3008 closed

[2017-03-15 21:15] #3261 closed, assigned to hellochar

[2017-03-15 21:58] hellochar opened #3288 "Dragging legend items around"
Feature request: "drag" the legend item and do user-supplied stuff with it (e.g. drag a series from one chart to another)

Dragging is currently impossible on Legends since we use SVG G elements, so this is blocked on #3244

[2017-03-15 23:43] themadcreator opened #3289 "Rotated/Sheared tick labels do not respect axis margin"
Setting the margin on a Category axis works when there is no rotation/shear.

With any rotation/shear, the margin is not included in the requested space for layout.

[2017-03-16 01:24] hellochar commented on #3289
Related issue - category axis barely respects margin at all (https://github.com/palantir/plottable/issues/3179).

[2017-03-16 21:14] #2509 closed

[2017-03-16 21:14] #3270 closed, assigned to nobody

[2017-03-16 21:56] hellochar opened #3290 "Support/prove some form of dynamic data loading"
Users want to dynamically load data points as you pan/zoom around in a chart. Make sure we support that use case.

[2017-03-16 21:56] hellochar opened #3291 "canvas scatter plot"
We have canvas implementations for Line and Rectangle; support Scatter as well

[2017-03-16 21:57] hellochar commented on #3291
See also #3266 for generic thinking around canvas renderers

[2017-03-16 21:59] hellochar opened #3292 "Perf of pan/zoom in high scale situations is slow"
pan/zooming e.g. canvas_line is slow and laggy. A few problems:

* We do an O(n) pass over all the data to cull out-of-viewport elements on every pan/zoom
* We recompute the .attrs() of every element on every pan/zoom

The current panzoom is stateless - performing a pan is basically the same as saying “redraw everything again” with a slightly different domain.

Solution: take advantage of canvas'

[2017-03-17 17:34] hellochar opened #3296 "browserify users cannot find d3-ease"
Browserify users will currently error because they can't find the d3-ease module - Easing Animator references d3-ease which isn't specified as a dependency.

In webpack with `target: "node"`, this problem is avoided because our `d3` dependency transitively includes d3-ease. The problem is that d3's package.json specifies a pre-built file in its `browser` field which takes priority over `main` in b

[2017-03-17 19:52] hellochar opened #3298 "scrollbars appear on chart that has an interaction on it"
repro: http://jsfiddle.net/hellochar/eh2w06od/2/

Relevant bits are:

1. renderTo target is contained by an "overflow: auto" element
2. Add some sort of mouse interaction to a Component (e.g. panZoom to a plot)
3. Move your mouse below the bottom-right of the chart

expected: no scrollbars

actual: scrollbars appear and shift as you move your mouse.

The `translator`'s _measurerElement is part of

[2017-03-20 17:45] themadcreator commented on #3243
Remaining work: look for and remove hacks

[2017-03-20 17:49] themadcreator commented on #3212
by removing the standalone library, we mean from git, not from npm

[2017-03-20 18:30] #3273 closed, assigned to hellochar

[2017-03-20 19:14] hellochar opened #3301 "Allow styling individual entities on Canvas"
In SVG you can style individual entities' attributes by doing `entity.selection.attr("fill", "red")`. This would mutate the drawn DOM element and allowed users to implement things like Chart Selection, highlighting the hovered bar, etc. In Canvas we can't do this since Entity.selection is always null.

Solution: Introduce an API into Plottable to allow for styling of Entities. Make `Entity.selecti

[2017-03-20 19:22] hellochar commented on #3301
Idea: keep d3.selection as our Styling API, but internally feed our own JS impl of a DOM Element, which probably only supports .attr(). Actually this is a bad idea because we're implementing a leaky abstraction, and if .attr() is the only thing we care about, we should focus on *that* as the thing to expose (ala the original post's suggestion)

[2017-03-20 19:29] hellochar opened #3302 "Improve caching story"
The code exhibits poor behavior around caching:

* Different attempts/implementations at caching
* Other concepts that aren't called caching per-se but actually are
* Cache invalidation that doesn't catch all inputs
* Unnecessary cache recomputation which results in thrown away work
* Not caching computing properties that probably should be cached

We need to think deeply and figure out a good sto

[2017-03-21 20:35] adidahiya commented on #3285
See https://github.com/palantir/plottable/pull/3282#issuecomment-288145388; you'll need to continue using Phantom to simulate browser layout, which is important for testing chart layouts

[2017-03-23 20:24] adidahiya commented on #3260
We use this right now to render tooltips on grid plots, but it should be easy enough to migrate to an HTML-based implementation.

[2017-03-24 15:39] leebyp opened #3307 "Performance regressions on XYPlot.entityNearest"
From gitter:

[2017-03-24 19:42] hellochar commented on #3003
Thanks for the heads up @jraller ; we've since migrated our build to use `yarn` so I believe this is fixed now

[2017-03-24 19:42] #3003 closed

[2017-03-24 19:45] hellochar commented on #3213
Update: lets actually not include `d3` through webpack so we can dogfood the external dependency

[2017-03-24 19:47] hellochar opened #3308 "Publish dev builds of Plottable to npm"
Lets us iterate quicker by letting bp-charts use Plottable features as soon as they go in.

[2017-03-24 20:07] hellochar opened #3309 "DRY Plot Rendering and how plots use drawers"
Plot.ts defines a fixed pipeline of 5-6 methods for Plot rendering that subclasses override. This ends up feeling awkward and repeating code (e.g. creating a drawer for each Dataset logic is duplicated both in Plot and in AreaPlot). Label drawing suffers a similar fate. We should refactor the concept of Plot rendering to make more sense

[2017-03-24 21:32] #3266 closed, assigned to hellochar

[2017-03-24 21:33] hellochar opened #3310 "Implement canvas rendering for arc, area, segments"
See #3266 for generic thinking around canvas renderers

[2017-03-24 23:09] hellochar commented on #1944
Not happening in ie11 anymore (updated for 3.x - http://jsfiddle.net/hellochar/5dkaqt4e/5/)

[2017-03-24 23:09] #1944 closed

[2017-03-24 23:17] hellochar commented on #735
Still happens ie11: http://jsfiddle.net/hellochar/uymL5ka0/1/

[2017-03-24 23:19] hellochar commented on #638
Not needed anymore since ie11 supports all `instanceof` checks

[2017-03-24 23:19] #638 closed

[2017-03-24 23:20] hellochar commented on #2122
"Fixed" this by increasing tolerance to 2; not a huge deal if we're a bit off across browsers

[2017-03-24 23:20] #2122 closed

[2017-03-24 23:42] hellochar commented on #3198
Hey @CalvinFernandez can you remind me what this ticket is and why it's needed? I see we modified `.x` and `.y()` to return TransformableScales in https://github.com/palantir/plottable/pull/3159 -- why did we do that again?

[2017-03-25 02:05] hellochar commented on #3212
Blocked by #3308

[2017-03-25 02:24] adidahiya commented on #3212
why is this blocked by #3308?

[2017-03-27 19:08] leemi opened #3313 "Plottable.TimeInterval doesn't support Milliseconds"
But the [corresponding](https://github.com/palantir/plottable/blob/master/src/scales/timeScale.ts#L93) d3 interval [`d3.timeMillisecond`](https://github.com/d3/d3-time#intervals) does exist

[2017-03-27 19:24] #3308 closed, assigned to nobody

[2017-03-27 19:27] #2226 closed

[2017-03-27 20:24] hellochar opened #3314 "Remove Configs "global" object"
global config objects are bad practice and don't make sense in a modularized world. Replace the "SHOW_WARNINGS" flag with what React does (only true in "dev" mode, not prod). Not sure about ADD_TITLE_ELEMENTS - maybe just always have it on?

[2017-03-27 20:31] #3169 closed, assigned to leebyp

[2017-03-27 20:31] #3190 closed, assigned to leebyp

[2017-03-27 20:37] hellochar opened #3315 "plottable.min.js doesn't have Copyright header"
https://unpkg.com/plottable@3.0.0-beta.4/plottable.min.js

[2017-03-27 20:51] #3243 closed, assigned to hellochar

[2017-03-29 02:57] hellochar commented on #3063
We should definitely tackle this with the 3.0.0 release

[2017-03-29 21:43] #3212 closed, assigned to themadcreator

[2017-03-30 00:57] hellochar commented on #3254
Hey @leebyp while you're taking a look at label drawing logic, do you think we could tackle this? It'd be a big architectural improvement I think

[2017-03-30 02:09] hellochar commented on #3244
Hey @pkwi here's a mockup of the new legend behavior: https://jsfiddle.net/hellochar/63ov4w2y/ you can drag the center line to see how it resizes at various widths.

[2017-03-30 10:00] pkwi commented on #3244
@hellochar nice one!

[2017-03-30 21:51] #3315 closed, assigned to nobody

[2017-04-04 19:05] hellochar opened #3322 "rework overlaying tests"
* Don't pull jquery in globally
* It keeps a list of test files which our build system manually updates; we can move onto webpack and remove that need

[2017-04-04 21:48] leebyp opened #3323 "Axis Labels render without the text in Firefox"
When using `new Plottable.Components.AxisLabel("test label")`, the element is in the DOM but the text is not

NOTE: this only happens on Firefox & retina screens

@acolombi

[2017-04-04 21:55] leebyp opened #3324 "Legend maxEntriesPerRow not respected in Firefox"
`legend.maxEntriesPerRow(n)` becomes n - 1 in Firefox

NOTE: this only happens on Firefox & retina screens

@acolombi

[2017-04-04 22:33] hellochar commented on #3323
Can you provide a more concise repro? I visited https://409-16149854-gh.circle-artifacts.com/0/home/ubuntu/plottable/quicktests/dev/index.html#functional/nearestEntity on Firefox and had labels

[2017-04-05 17:34] leebyp commented on #3323
Gosh... this took a while to figure out. It's only happening on retina screens!

[2017-04-05 20:55] hellochar commented on #3323
Got it - repro is to open https://409-16149854-gh.circle-artifacts.com/0/home/ubuntu/plottable/quicktests/dev/index.html#realistic/rainfall_ClusteredBar on a retina display

Looks like the results of computeLayout are different in a retina display such that typesettable doesn't think it has any room to fit the label... @themadcreator thoughts?

[2017-04-07 20:46] hellochar commented on #3313
Hey @leemi thanks for the file - certainly a reasonable request. I'll try to fit this in sometime soon but your best bet for movement is to submit a PR, thanks!

[2017-04-07 21:49] #3307 closed, assigned to leebyp

[2017-04-11 18:29] hellochar opened #3327 "only import used d3 submodules in our source files"
Consumers want to reduce their bundle size by only importing e.g. `plottable/build/plots/barPlot`. But their build is still bloated because we pull in all of d3 in those files instead of just the submodules we care about.

The ask is to change lines like `import * as d3 from "d3";` in our files to just the d3 pieces that that file uses: `import * as d3Selection from "d3-selection"`

[2017-04-12 21:58] hellochar commented on #3191
Added to the release notes; we can pull the trigger on removing the actual code whenever

[2017-04-13 19:48] themadcreator opened #3328 "Area selection interferes with bar selection"
If you click on the resize handle of an area selection on a bar chart, it will select the bar without clearing the area.

This is inconsistent since other selections (not on the resize handle) would normally clear the area selection.

If it is desirable to be able to maintain both the area selection and bar selection, then only clicking away from the bars should remove the area selection.

Example

[2017-04-17 18:15] themadcreator opened #3329 "Convert symbol Factory Factories into the plain old symbol factory constants"
Example in symbolFactories.ts

[code]

to

[code]

[2017-04-26 23:24] hellochar opened #3333 "showEndTickLabels only does something on NumericAxis"
should probably just move the API endpoint to NumericAxis. See #3334

[2017-04-26 23:30] hellochar opened #3334 "showEndTickLabels does nothing"
NumericAxis calls `_hideOverflowingTickLabels` which hides all tick labels that are outside of the Axis bounding box. Then, we do exactly that logic again, on the end ticks, iff `showEndTickLabels()` is false. This means showEndTickLabels does nothing. We should either remove the API endpoint or change _hideOverflowingTickLabels.

[2017-05-01 20:57] jrgleason commented on #2751
What is the status of this bug?

[2017-05-04 21:33] clarkmoody opened #3338 "__VERSION__ is not defined"
Upgraded to `3.1.0` just now, and when I `require('plottable')` in my project, I get `__VERSION__` not defined.

The browser points me to `core/version.js` that contains the offending line. Perhaps the `sed-version` task did not run properly for this build?

I'm using watchify 3.8.0 and browserify 13.1.1

[2017-05-05 19:02] teamdandelion opened #3339 "plottable.zip does not contain plottable.js or typings files"
The Plottable release zip archive used to contain plottable.js, as well as working .d.ts files.
In the most recent release archive:

- plottable.js is missing.
- plottable.d.ts references a 'build' directory which does not exist in the archive.

[2017-05-08 19:04] hellochar commented on #3338
@clarkmoody Oof, thanks for the bug report, we really should have an automated test for that. Will get this fixed immediately...

[2017-05-08 19:23] clarkmoody commented on #2808
My users have found that the vertical text of the annotations is hard to read. The annotation text is more important than the axis labels for my use case. It would also be nice to reclaim the gutter occupied by annotations and blank much of the time.

A nice solution could preserve the current behavior as an option:
[code]

[2017-05-08 20:20] hellochar commented on #3339
Yo @dandelionmane ! We've mostly deprecated the zip file; is there something about the zip that npm and unpkg.com don't do?

[2017-05-08 20:30] hellochar opened #3341 "`yarn start` broken on develop"
[code]

[2017-05-08 21:29] achntrl opened #3342 "Website not up to date with 3.0.0"
The plottable website is not up to date with the [changes](https://github.com/palantir/plottable/wiki/Upgrading-to-3.0.0#action-required-renderto-only-accepts-html-elements) on `renderTo`.

In the tutorial and in the examples, there are snippets like this
[code]

It looks like the website is not available anymore so I can edit it myself

[2017-05-08 22:24] hellochar commented on #3342
Thanks for the report @achntrl, we are planning on updating the website soon (or open-sourcing the website); will update this ticket with more information as it comes along. Thanks!

[2017-05-08 22:57] #3338 closed, assigned to nobody

[2017-05-08 22:57] #3341 closed, assigned to nobody

[2017-05-08 22:58] clarkmoody commented on #3338
Thanks! New version `3.3.1` works well.

[2017-05-09 02:53] clarkmoody commented on #3342
If I could bike-shed for a moment, I would love to see the Plottable version number on the website as well, so the user knows how current the documentation is.

[2017-05-10 04:49] acolombi commented on #3324
See #3344

[2017-05-11 09:55] LostKobrakai commented on #3197
I've the same problem, but using innerPadding does mess with `plot.eneityNearest()` so I cannot use my tooltips anymore on the edge ticks.

[2017-05-13 00:26] hellochar opened #3345 "PointerInteraction doesn't respect the Component's translated bounds"
From gitter:

https://github.com/palantir/plottable/blob/v3.0.0/src/plots/xyPlot.ts#L409
Then in https://github.com/palantir/plottable/blob/v3.1.0/src/plots/linePlot.ts#L488 the point is checked if it is within bounds, but these bounds are relative to the entire Table, not the Line. my bounds.topLeft is (43,0) because of the y-axis

Repro: ![hover missing points](https://cloud.githubusercontent.co

[2017-05-13 00:55] hellochar commented on #3197
The option that controls the empty space is `xScale.padProportion(0)` - see http://plottablejs.org/docs/classes/plottable.scales.linear.html#padproportion . All scales have a default value of 0.05, setting it to 0.0 should work for you.

[2017-05-13 00:56] hellochar commented on #3324
Hey @acolombi did #3344 fix this as well?

[2017-05-13 06:11] LostKobrakai commented on #3197
Except that a category scale doesn't have that method, which is what I'm using.

[2017-05-13 18:11] chenzhutian opened #3347 "Include the source code in npm package"
Hi, thanks for your greate work.
I'm a typescript user and use webpack to bundle my project files.
The webpack@2 has the Tree Shaking features which can reduce the size of files.
Since this feature can only work on es6, can you include the source code (the ts code are ok because I can use ts-loader to convert them), other than the production code in the npm package?

[2017-05-13 20:59] adidahiya commented on #3347
related: https://github.com/palantir/blueprint/issues/309

In blueprint, I suggested publishing ES6 / ES2015 modules in the distribution; I think plottable should do the same. You can use `ts-loader` to bundle the library files in either case (`.ts` vs ES6 `.js`), but I think typings resolution will be simpler if the distribution includes `.d.ts` and `.js` files.

[2017-05-14 04:34] chenzhutian commented on #3347
I think both including the ts source code and publishing as es6 are OK. Is there any similar  plan for portable?

[2017-05-15 18:12] acolombi commented on #3324
yup

[2017-05-15 19:37] hellochar commented on #3347
Thanks for the report @chenzhutian , sounds reasonable. This should be an easy external PR - we can simply whitelist `src/` in the `.npmignore` to include the TS. We'll be happy to accept it!

[2017-05-15 19:38] hellochar commented on #3324
Great!

[2017-05-15 19:38] #3324 closed, assigned to nobody

[2017-05-15 19:40] hellochar commented on #3197
For category scale you can use `.outerPadding(0)` - see
http://plottablejs.org/docs/classes/plottable.scales.category.html#outerpadding . Might have to play around with `innerPadding()` as well. Does that fix your issue?

[2017-05-15 20:33] adidahiya commented on #3347
Please verify that the compiler is able to handle `.ts` files inside node_modules before making this change. Make sure to test TS 2.1, 2.2, and 2.3.

[2017-05-15 23:53] teamdandelion commented on #3339
For TensorFlow/TensorBoard we are going to download Plottable manually from npm's servers, so we won't need the zip file any more. It's fine with us if you delete it.

[2017-05-15 23:54] teamdandelion opened #3348 "FR: True Log Scale"
For applications where the data is in the range (0, 1], Plottable's modified log scale is essentially useless. Can we have a true log scale implemented please?

[2017-05-16 08:53] simpers opened #3349 "README.md"
I'm a bit worried about your suggestion of running

    sudo chown -R /usr/local

without giving any reasoning (apart from some error code) as to why this would be a good idea. Changing ownership of OS files/folders is to me not a good fix for anything, and should be solved in a distro-specific manner I would assume.

Same applies to OSX, I suppose.

Could you either elaborate what goes wrong and

[2017-05-16 14:58] jameswex opened #3350 "Plot interactions don't work inside Polymer elements when using shadow DOM mode"
I have a plottable v3 chart inside of a Polymer 1.x component and have interactions set up on the chart (click and pointer interactions). Polymer by default uses shady DOM, and in this mode the click interactions work as intended (see https://www.polymer-project.org/1.0/docs/devguide/settings for details and how to set the DOM rendering mode).

But, if I set Polymer to use the shadow DOM mode then

[2017-05-16 18:24] adidahiya commented on #3349
I think we can remove that part of the README. It was put there a while go to tell users how to get around permissions errors in running binaries since homebrew and npm install global binaries in `/usr/local` by default.

[2017-05-16 19:04] leebyp commented on #3345
same issue as #3268 for more details

[2017-05-16 20:09] hellochar commented on #3349
Yeah good call @simpers , we should clarify it. We'd be happy to accept a PR that modifies the README to your liking

[2017-05-16 20:19] hellochar commented on #3350
Thanks for the detailed report @jameswex , cool to hear about Plottable being used inside Polymer! I couldn't find any docs on `event.path` - is it polymer specific? I'm wary of adding shadow DOM specific features since I don't know of a good way to unit test it/make it part of the build (admittedly I know little about Polymer/shadow DOM). Perhaps there's another property or different strategy to

[2017-05-16 20:33] hellochar commented on #3345
Closing this as dupe of #3268

[2017-05-16 20:33] #3345 closed, assigned to nobody

[2017-05-16 20:36] jameswex commented on #3350
event.path may be a chrome-specific implementation detail. I think event.composedPath() is the actual spec'd method. I see event.composedPath() mentioned both in the polymer link above about event retargeting and also in the dom event spec (https://dom.spec.whatwg.org/#dom-event-composedpath)

[2017-05-16 20:59] #3349 closed, assigned to nobody

[2017-05-16 22:20] hellochar commented on #3348
Agreed. We can't make guarantees about timeline here so your best bet is to submit a PR (could probably just copy/paste modifiedLog with a few adjustments). Or as a workaround you can try ModifiedLog with setting `scale._pivot = 0`

[2017-05-17 22:12] hellochar commented on #3290
Accomplished with https://github.com/palantir/plottable/blob/2294fbd7345e01bd5daa927959067bade1a7f8c9/quicktests/overlaying/tests/functional/loading_high_scale.js

[2017-05-17 22:12] #3290 closed, assigned to themadcreator

[2017-05-18 05:51] chenzhutian commented on #3347
After some researching, according to here https://github.com/Microsoft/TypeScript/issues/12358, I think the office team does not recommend to publish `.ts` source code for some reasons. It seems that publish the es6 code is a better choice.

[2017-05-19 02:42] dashkb opened #3351 "Rotated tick labels don't save space"
Really impressed with Plottable so far!  Just noticed as I'm setting up a horizontal stacked bar chart that rotating the labels doesn't work as I'd expect.

I started with ![](http://screens.dashkb.net/20170518193934.png)

Figuring that the labels on the Y Axis are wasting space, I rotated them with `yAxis.tickLabelAngle(-90)`, which resulted in ![](http://screens.dashkb.net/20170518194101.png) --

[2017-05-22 18:58] hellochar commented on #3088
There's an 80% ready PR at https://github.com/palantir/plottable/pull/3226 ; maybe we can just touch it up and get this in?

[2017-05-22 20:55] cosbgn opened #3352 "Multiple colorScale on Heatmap"
I'm trying to build a heatmap which compares different metrics for the same category, in other words the Y axis is the same but the X axis are completely unrelated between them. Something like [this](http://jsfiddle.net/mf5e58tL/2/) (Made with plot.ly which doesn't support this feature).

Is it possible to have a heatmap with different colour schemas for each X axis?

[2017-05-22 22:49] hellochar commented on #3352
Thanks for the interest in Plottable! We don't currently support this but probably could allow different datasets to have different color scales in the Rectangle Plot.

As a workaround you could pre-compute your datum to have the final "color" value directly in the datum, and then access that in the Rectangle Plot's `.fill()`

[2017-05-22 22:54] hellochar commented on #3351
Hey @dashkb , thanks for your interest in Plottable! What you're looking for is an Inset axis. To achieve this, you'll want to create a single `Plottable.Components.Group` that has both the Plot and the Axis, and then set the `yAlignment` of the Axis to be `"left"`:

[code]

[2017-05-22 23:10] dashkb commented on #3351
@hellochar thanks for your help!  That got me closer, but now the plot moved all the way to the left edge of the container and the axis is in the same place as before.

![](http://screens.dashkb.net/20170522160744.png)

[code]

[2017-05-23 01:48] hellochar commented on #3352
Resolved on Gitter:

1. Create two InterpolatedColor scales: `var scale1 = new Plottable.Scales.InterpolatedColor(); var scale2 = new Plottable.Scales.InterpolatedColor();`
1. set their colors: `scale1.range(["red", "blue"]); scale2.range(["green", "yellow"])`
1. pre-compute your data to run through the different scales:
[code]
4. finally, tell RectanglePlot to look at the datum's color property:

[2017-05-23 01:48] #3352 closed, assigned to nobody

[2017-05-23 01:50] hellochar commented on #3351
You did hit a bug here - vertical category labels still calculate space as if they're horizontal. As a workaround, try a right oriented y axis?

edit: that last image in the OP is interesting, it seems as if there's some extra hidden margin. Could you provide a jsfiddle repro so I can poke around with Chrome Debugger?

[2017-05-23 23:25] dashkb commented on #3351
Fiddle: https://jsfiddle.net/dashkb/8guqdqmh/1/  :violin:

[2017-05-24 03:50] dashkb commented on #3351
Another issue: with `.labelsEnabled(true)` the labels show up in no man's land:

![](http://screens.dashkb.net/20170523204903.png)

[2017-05-24 08:36] fklement opened #3353 "Complete instance gets rerendered after using the data method"
I've an instance with a bar plot and a pie plot.
The bar plot with the .onClick interaction updates the dataset used in the pie plot.
[code]
Whenever i'm using this interaction the complete instance gets rerendered instead of only rerendering the pie plot.
How can i manage it that the bar plots selection is still filled after using the data method of the Dataset class?

[2017-05-24 19:19] sixinli opened #3354 "Line chart entity selection is `undefined`"
it seems like line chart is composed of 2 entity, and after upgrading to plottable 3.x we realized that the second entity selection object is kind of broken: `entity.selection._groups[0][0]` is `undefined`

this is probably caused by `getVisualPrimitives()` https://github.com/palantir/plottable/blob/develop/src/drawers/drawer.ts#L99 only returns `[Path]` (size of 1)  and when we convert entity to

[2017-06-02 20:53] hellochar opened #3355 "interaction measurer blocks all interaction on the page in iPad"
3.0.0's refactor to Plottable's interaction manager now make it block all touch inputs on the page in iPad, so e.g. tapping buttons, textfield, etc. are all disabled. Probably should be fixed ASAP

@sixinli  for sa

[2017-06-03 07:56] danielbaak commented on #3260
I've tried following the tooltip tutorial (http://plottablejs.org/tutorials/tooltips/) with plottable v3.1.1. It doesn't work.

apparently the API of .foreground() has changed?

[2017-06-06 00:14] hellochar commented on #3260
Hey @danielbaak our website and docs aren't up to date for 3.1.1 yet - see #3342. We haven't modified the .foreground() api yet though; what exactly goes wrong?

[2017-06-06 22:40] hellochar opened #3361 "circle build status no longer being reported"

[2017-06-06 22:53] hellochar commented on #3353
Hey @fklement thanks for your interest in Plottable. Can you provide a full jsfiddle/codepen repro? I think this is a limitation of the current redraw logic; you can try having two separate Plottable top-level Components (e.g. two .renderTo() to different container elements) to work around it

[2017-06-06 22:53] hellochar commented on #3339
Sounds good

[2017-06-06 22:53] #3339 closed, assigned to nobody

[2017-06-06 22:54] hellochar commented on #3323
Fixed in #3344

[2017-06-06 22:54] #3323 closed, assigned to nobody

[2017-06-06 23:03] #3296 closed, assigned to nobody

[2017-06-07 19:50] hellochar commented on #3354
Spoke offline, the root cause is that line drawer is returning empty selections. This is probably because Line constructs only one visual primitive per dataset, but goes through the "one visual primitive per data point" code path

[2017-06-07 21:37] hellochar commented on #3285
You're right; closing this for now since it's inactionable

[2017-06-07 21:37] #3285 closed, assigned to nobody

[2017-06-07 23:06] #3361 closed, assigned to nobody

[2017-06-09 12:01] zobione commented on #1044
Is it still active ? We are currently playing with the library and it seems that Pie has a animated method but when set up to true nothing happens...

[2017-06-09 16:18] src73 opened #3364 "Tricky downloading plottable.min.js"
I just tried upgrading to the latest version (3.1.1) and encountered two issues:

1. clicking the "download (latest)" button on [plottablejs.org](http://plottablejs.org/) downloads the latest off of the Master branch, which hasn't been updated since 2015.
2. the commit tagged 3.1.1 doesn't include a plottable.min.js file (or even plottable.js). This breaks [unpkg](https://unpkg.com/plottable@3.1.1

[2017-06-09 18:22] hellochar commented on #3364
Hey @src73 , thanks for the report. 1 is filed as #3342 , apologies for that - we'll try to get around to it in the upcoming weeks.

I'm able to find the standalone `plottable.js` in 3.1.1 at `https://unpkg.com/plottable@3.1.1/plottable.js`, but I'd recommend pulling in Plottable through individual js modules npm/yarn - you'll notice `package.json`'s main points to `build/src/index.js`. It's also

[2017-06-09 18:41] MartinKolarik commented on #3364
@src73 if you want to use the file directly from a CDN, you can use [jsDelivr](https://github.com/jsdelivr/jsdelivr#usage), which supports on-the-fly minification: https://cdn.jsdelivr.net/npm/plottable@3.1.1/plottable.min.js

[2017-06-10 00:40] hellochar commented on #3090
This was fixed in #3130 - we now pass the raw event callback (either a mouse or touch event) as the second argument

[2017-06-10 00:40] #3090 closed, assigned to nobody

[2017-06-11 09:22] AleksanderGondek opened #3366 "Chart axis labels are hidden seemingly at random"
This is the first time I am using this library, so forgive me if my question is an obvious one.

I am following the tutorial posted on [plottable website](http://plottablejs.org/tutorials/basics/) and I am attempting to draw basic line plot. I have not made any modifications to the code example from tutorial (except from changing drawing container type to _div_).

[This is the outcome](http://imgu

[2017-06-13 06:59] danielbaak commented on #3214
@neevany I'm not sure about current tooltip support.
The tooltip tutorial (http://plottablejs.org/tutorials/tooltips/) is using plottable v2.7.0 and I couldn't replicate it with plottable v3.1.1.
The issue seems to stem from the fact that plottable switched from `svg` to `html` elements in version 3.

[2017-06-13 18:13] #3089 closed, assigned to nobody

[2017-06-13 18:28] hellochar commented on #3214
Yeah sorry we need to upgrade the docs/website for 3.0. @danielbaak check out this fiddle for an updated tooltip example: http://jsfiddle.net/hellochar/3rf4vrnq/1/

The changes you have to make:

1. make example a div
2. use CSS to give it a width/height
3. use .attrs() instead of .attr() in d3

[2017-06-15 17:05] lucastheisen opened #3367 "min-height on parent element not respected"
## Bug report

Live example URL: https://jsfiddle.net/lucastheisen/qmf149jq/1/

Steps to repro:
1. create a containing div
1. create an inner div
1. set min-height on containing div

### Expected behavior

The height of the plottable component should be _at least_ as large as the `min-height` of the parent.

### Actual behavior

0 height

### Possible Solution

### Context

I want my plottable com

[2017-06-15 18:13] hellochar commented on #3367
Thanks for the file! I think you're hitting https://stackoverflow.com/questions/8468066/child-inside-parent-with-min-height-100-not-inheriting-height - specifically

Therefore, as the min-height parent does not have an explicit height property set, it defaults to auto.

I was able to get your example to work by adding `min-height: inherit;` to the `#plot`

[2017-06-15 20:00] lucastheisen commented on #3367
@hellochar , using `inherit` seems reasonable enough...

[2017-06-15 20:00] #3367 closed, assigned to nobody

[2017-06-19 21:07] #3088 closed, assigned to nobody

[2017-06-21 23:37] ernest-okot commented on #3366
Hello @AleksanderGondek, do you have a code example?

[2017-06-22 15:11] AleksanderGondek commented on #3366
To explain further - the code is exactly same as in tutorial.
[code]
[code]

[2017-06-26 16:26] sixinli opened #3373 "excessive space between pie plot and legend"
Live example URL:
http://jsfiddle.net/59rqmbtr/6/

### Expected behavior
less space on both side of the pie plot, render more legend

### Actual behavior

legend doesn't get fully rendered unless there are A LOT more space

### Context
pie plot with legend now requires a lot more space for legend to be fully rendered, or will require some custom tuning on columnWeight which doesn't seem to be gene

[2017-06-26 23:26] hellochar commented on #3355
Looks like the core issue is that Mobile Safari will prevent `click` events if the `mousemove` handler of the same tap modifies the DOM - taken from http://sitr.us/2011/07/28/how-mobile-safari-emulates-mouse-events.html:

Our `mousemove` handler *always* modifies the DOM because we call translator.computePosition which moves the measurementElement around.

So we need to avoid modifying the DOM on

[2017-06-27 22:50] hellochar commented on #3355
Update: Plottable 2.x avoided this issue by using a `<rect>` to represent the Translator measurer element, which avoids DOM updates since it's inside an svg the whole time. Going back to that method for the time being

[2017-06-28 16:59] sixinli commented on #3355
thanks for the update!

[2017-07-12 17:50] #3355 closed, assigned to nobody

[2017-07-12 22:30] #3366 closed, assigned to nobody

[2017-07-21 18:23] zmandel commented on #3260
@hellochar Im also seeing issues with using .foreground(). Ive spent lots of time debugging this but still cant pinpoint why all my custom drawing (lines, crosshairs) no longer work, they all use similar code to this crosshair example, as in var crosshairContainer = plot.foreground().append("g") in http://plottablejs.org/examples/finance/

[2017-07-21 19:55] #3219 closed, assigned to nobody

[2017-07-21 20:29] hellochar commented on #3260
@zmandel can you file a separate issue with a repro of what you're seeing? I'll take a look :)

[2017-07-22 16:22] zmandel opened #3382 "Custom drawing on top of charts no longer works after migrating to v3"
## Bug report

Live example URL:
Working example (with plottable 2.9.0):
https://zmandel.github.io/burndown2.9.0.html

Non-Working example (with plottable 3.1.1)
https://zmandel.github.io/burndown3.1.1.html

Both use the same javascript file:
https://zmandel.github.io/burndown.js

Context:
This burndown is part of a "plus for trello" dashboard.  The sample data is not very good, just to make the s

[2017-07-22 16:23] zmandel commented on #3260
@hellochar thank you! https://github.com/palantir/plottable/issues/3382

[2017-07-22 16:30] zmandel commented on #3382
for reference, in burndown.js
function createProjectionLine:
https://github.com/zmandel/zmandel.github.io/blob/master/burndown.js#L359

function createCrosshair:
https://github.com/zmandel/zmandel.github.io/blob/master/burndown.js#L466

[2017-07-25 06:55] danielbaak commented on #3214
@hellochar thanks for the quick response. It worked like a charm.

[2017-07-27 04:25] hellochar commented on #3382
It looks like the "due: hello #14001" text exists in the 3.1 DOM, but it doesn't have an x, y, writing mode, font, etc. Can you help me debug why that's happening?

Same issue - the line and circle don't have an x or y. They're there, they're just off the plot.

For tooltips I'd suggest using an HTML tooltip and adding it to the plot's `element()`, rather than using the .foreground().

[2017-07-28 13:49] stijnkoopal commented on #3350
For people interested in a monkey patch for 3.4.1:

[code]

[2017-08-02 22:02] zmandel commented on #3382
im not getting closer. the code is the same as in https://zmandel.github.io/burndown2.9.0.html and it does work well there. the x,y is added from the datasets, just like the line ones that do show.

[2017-08-10 14:27] Rincewind3d opened #3386 "Tutorial examples not working"
I'm currently evaluating plottable.

Based on the tutorial (http://plottablejs.org/tutorials/basics/) I created a line chart. But only the x-axis is rendered.

<img width="1052" alt="bildschirmfoto 2017-08-10 um 16 26 11" src="https://user-images.githubusercontent.com/7668392/29175195-abd2f3e8-7de8-11e7-911d-aebf67777421.png">

I checked the version of plottable which is used on the example page.

[2017-08-15 02:46] jasperSpeicher commented on #2453
Hi, any updates on this one? I see the plottable-moment repo, but nothing in the wiki there about this issue...

[2017-08-19 02:56] aicioara commented on #2453
Since I have some context on this from the time I worked on it, the solution that was proposed was to implement timezone support as a Plottable Addon and this way not force Plottable users on taking additional bloat when such functionality was not needed. I am not sure if that project was eventually completed, since it only has 100 lines of code and hasn't been updated in 2 years.

[2017-08-22 23:24] jasperSpeicher commented on #2453
Ok, thank you. So if I want to show time axis labels (and tier structures) in UTC timezone, sounds like I should be computing the offset and handing the axis and the x accessors Date objects with the offset applied?

[2017-08-23 02:41] aicioara commented on #2453
UTC might be easier, since JS supports it natively. It could be a matter of just setting the X accessor or the axis formatter to convert from Local time to UTC with methods such as `new Date().toUTCString()` and siblings. Hope this helps.

[2017-08-27 17:08] aleburato opened #3395 "Regression in drag behavior with PanZoom after 3.4.1"
## Bug report

Live example URL:

**WORKING (3.4.1)**
https://jsfiddle.net/aleburato/cdtarz12/2/

**BROKEN (3.5.1)**
https://jsfiddle.net/aleburato/0h93pbbt/8/

Steps to repro:
- Just try to drag on the lower mini-chart

### Expected behavior
The drag box is resized correctly and the main chart is updated accordingly

### Actual behavior
The main chart just pans as if you were dragging on it direc

[2017-08-31 23:27] hellochar commented on #3265
@themadcreator looked into this; we tried offsetX/offsetY but it didn't work if there's any scrolling on any ancestor. I think TAT with new matrix multiply is here to stay

[2017-08-31 23:27] #3265 closed, assigned to nobody

[2017-08-31 23:32] hellochar commented on #3092
With #3399 you can now configure a custom wheel filter to e.g. only scroll when `wheelEvent.shiftKey` is true. You can configure the pan interaction in a similar fashion by using `panZoomInteraction.dragInteraction().mouseFilter((e) => e.shiftKey)`

[2017-08-31 23:32] #3092 closed, assigned to nobody

[2017-08-31 23:34] hellochar commented on #3395
Thanks for the bug report @aleburato - this has been fixed in 3.5.2. I've updated your example by simply upgrading to **3.5.2**: https://jsfiddle.net/0h93pbbt/9/ Let us know if that works, cheers!

[2017-08-31 23:34] #3395 closed, assigned to nobody

[2017-08-31 23:36] hellochar commented on #3386
Apologies for that! You should be able to follow the upgrade steps at https://github.com/palantir/plottable/wiki/Upgrading-to-3.0.0 to get a working version. Closing as dupe of #3342

[2017-08-31 23:36] #3386 closed, assigned to nobody

[2017-08-31 23:39] hellochar commented on #3364
Closing - use jsDelivr (nice tip @MartinKolarik !) or a module bundler.

[2017-08-31 23:39] #3364 closed, assigned to nobody

[2017-09-01 05:35] aleburato commented on #3395
Definitely. Loving Plottable AND Blueprint AND TSLint. You guys are a
constant stream of awesomeness.

On ven 1 set 2017, 01:34 Xiaohan Zhang <notifications@github.com> wrote:

[2017-09-11 18:22] waltonseymour commented on #2692
Is there a way to prevent propagation of events to onClick from drag events? Or maybe detect the change in position between mouseDown and mouseUp?

I'm not seeing a clear way to distinguish the two, given onClick only binds to mouseUp.

[2017-09-22 14:16] stijnkoopal commented on #3350
For 3.5.4 you also require the following:
[code]

[2017-10-04 20:51] hellochar opened #3411 "Plottable EntityStore is being recomputed on every entities()-like call"
Calling e.g. entitiesInXBounds() multiple times causes multiple EntityStore.addAll() calls. It should produce the entities only once and save them off.

[2017-10-05 21:33] themadcreator commented on #3411
it's more relevant to discuss when the cache is invalidated. one cause of too-frequent cache invalidation is calling `computeLayout`, which is, e.g., invoked by `redraw`

[2017-10-17 20:27] themadcreator commented on #3291
This has been released

[2017-10-17 20:27] #3291 closed, assigned to leebyp

[2017-10-31 21:52] adidahiya commented on #3021
we moved to circle

[2017-10-31 21:52] #3021 closed

[2017-10-31 21:52] #3026 closed

[2017-10-31 21:52] #3028 closed

[2017-10-31 21:53] #3047 closed, assigned to adidahiya

[2017-10-31 21:53] #3048 closed, assigned to adidahiya

[2017-10-31 21:53] #3053 closed, assigned to adidahiya

[2017-11-01 01:55] dev6james commented on #2814
This has to be in. Can't believe it's not available.

[2017-11-02 01:42] hellochar commented on #2814
If disabled, what would the wanted behavior be for a color scale whose range is 3 colors but whose domain is 10? Recycling the colors? Always choosing white? Throw an error? None of those sound significantly more appealing

[2017-11-02 03:47] teamdandelion commented on #2814
Recycling the colors is significantly better than using all black or all white or throwing an error.
Some information > no information.

[2017-11-03 18:45] Zerim commented on #3277
This also reproduces for me when using canvas rendering (which makes sense), but it would be nice if the error here was more helpful for features that are supported w/ SVG but not canvas.

[2017-11-06 21:33] hellochar commented on #3277
@Zerim all interactions should support both SVG and Canvas. Which feature are you seeing not working?

[2017-11-07 01:30] hellochar opened #3418 "stacked bar with two of the same X value in the same Dataset renders incorrectly"
## Bug report

Live example URL: http://jsfiddle.net/awgpcog5/1/

Steps to repro:
1. create stacked bar with two of the same X value in the same Dataset

### Expected behavior
two stacked bars on top of each other with the same color

### Actual behavior
the first stack is not drawn; only the last stack with a given X value is drawn, although the other data points affect the height

- Plottable ve

[2017-11-07 23:10] hellochar commented on #3298
Fixed by #3389

[2017-11-07 23:10] #3298 closed, assigned to nobody

[2017-11-08 04:47] Zerim commented on #3277
This reproduced for me while trying to attach a Pointer interaction to a Rectangle plot using the canvas renderer.

[2017-11-08 22:53] hellochar opened #3419 "don't use circleCI url in the "fiddle" link in autocomments"
when you click "fiddle" in the autocomment bot, the resultant fiddle uses links to circle CI urls - e.g. `//710-16149854-gh.circle-artifacts.com/0/home/ubuntu/plottable/plottable.js`

This will fail for most users since the link requires auth into circleCI to be accessible.

[2017-11-10 23:20] waltonseymour opened #3420 "Interaction attachment order determines entityNearestByXThenY behavior"
## Bug report

When using `entityNearestByXThenY` inside an onPointerMove callback the returned entity is different depending upon whether or not a panZoom is attached before or after the pointer interaction.

Live example URL: https://jsfiddle.net/8zu0qgp4/6/
Live example URL: https://jsfiddle.net/8zu0qgp4/7/

The difference between these two is simply the order the interactions are attached.

St

[2017-11-28 15:20] timwis opened #3423 "Working example?"
Hello, I'm just starting with plottable, and it looks like the docs may be for an older version (pre 3.0) as they all tell you to `renderTo` an `svg` element, which isn't allowed in 3.0+. Even after changing `.renderTo` to a `div`, I'm not able to get the basic examples to render. Were there other breaking changes that haven't been reflected in the docs?

Live demo: https://www.webpackbin.com/bins

[2017-11-28 19:00] jrussia commented on #3423
In your example, add a width to the #example div, and it should render the graph.

[2017-11-28 20:51] timwis commented on #3423
@jrussia I've tried that to no avail. If you refresh [the webpackbin](https://www.webpackbin.com/bins/-L-3OKOJ2UFyAvWw-6Rs) you'll see it starts to render, but not correctly (shape-wise or colour). Do you have a working example with v3.0+?

[2017-11-28 23:33] jrussia commented on #3423
@timwis Yeah, sorry, I didn't look closely at your data. It does render, but it's not styled correctly because plottable.css isn't included.

I added `<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/plottable@3.7.0/plottable.css">`
to you example, and then it showed the entire chart.

[2017-11-28 23:37] timwis commented on #3423
@jrussia That did it. I was wondering if CSS was necessary to include or if it was injected by the JavaScript... is this documented anywhere on the website or github repo?

[2017-12-01 09:53] kianian1979 opened #3425 "Interactions Click not working properly on zoom in"
I have created this http://jsfiddle.net/awgpcog5/4/ to report the bug.

Try to click on bars when zoom in.

![click_report](https://user-images.githubusercontent.com/28044075/33478653-5785270c-d68a-11e7-999b-e1f9e20227db.gif)

[2017-12-05 01:52] timwis opened #3426 "Using same scale changes widths of bars"
## Bug report

Live example URL: https://www.webpackbin.com/bins/-L-ZL4OfbxdRJslccl6J

Steps to repro:
1. Create a basic bar plot
2. Add a rectangle chart that uses the same xScale as the bar plot
3. Render them as a group

In the live example URL, swap the commented line for the one before it to see it demonstrated.

### Expected behavior
Dataset is added to the chart

### Actual behavior
The wid

[2017-12-05 01:56] #3423 closed, assigned to nobody

[2017-12-07 12:17] timwis opened #3428 ".entitiesIn() excluding first entity on area plot"
## Bug report
It appears that the Area plot's `entitiesIn()` method excludes the left-most entity. For it to be included, you must put your cursor slightly _before_ it. I'm not confident my users could figure that out :-/ This issue seems to be limited to Area plots.

I appreciate your time if anyone can help!

~~Live example URL: https://codepen.io/timwis/pen/MOMgaQ?editors=0010~~
Better live exa

[2017-12-07 12:34] timwis commented on #3428
My theory is that the area plot treats each value as a thin vertical line above the tick on the scale, and unless you touch it, it's not included by `entitiesIn()`. But I've traced it to [`_lineIntersectsBox`](https://github.com/palantir/plottable/blob/3de1c5eb7bae45c981e660e23b3b38ca7ef0ad27/src/plots/segmentPlot.ts#L235) and @ztsai appears to have accounted for this possibility already :-/

[2017-12-22 00:27] timwis commented on #3428
Hey folks, any way to get advice on this? Unfortunately my project has stalled because of this bug :-(

[2018-01-10 21:23] Bernabe-Felix commented on #3425
Same here, it happens when I update the size of the plot (Line). It appears that the are onInteraction is not updating

[2018-01-17 13:11] curlup opened #3434 "examples/emphasizing seems to be broken"
## Bug report

Live example URL: http://plottablejs.org/examples/emphasizing/

Steps to repro:
1. open the link
1. try to hover or click on the chart
1. nothing happens and a lot of errors in js console

### Expected behavior
something to happen and no errors

### Actual behavior
![image](https://user-images.githubusercontent.com/338607/35044323-ff9a7a24-fba0-11e7-9502-54bfd9354587.png)

### Envir

[2018-01-17 23:02] sixinli opened #3435 "stack bar label being cut off"
## Bug report

Live example URL:
http://jsfiddle.net/2bzs9eoq/

### Expected behavior
label `23` to show up in full

### Actual behavior
label `23 gets cut off

### Possible Solution

### Context
only happen when the chart is small - if change size to 600*400 this is fine

### Environment

- Plottable version:3.6.1
- Browser name/version: chrome/63
- OS name/version:mac/10.12.6

[2018-01-22 17:48] adidahiya opened #3436 "Remove jquery from repository"
![image](https://user-images.githubusercontent.com/723999/35235546-7d9ccdb2-ff72-11e7-8f06-a92e586fa17a.png)

We don't need it.

[2018-01-22 22:29] werrett commented on #3436
+1 on this. The issue is Jquery is trez old and makes third-party request in a way that makes it vulnerable to cross-site scripting type attacks. More info:

https://github.com/jquery/jquery/issues/2432

[2018-02-02 18:25] nchen63 opened #3437 "Static position on container messes up which plot point is hovered"
Hovering over plot points can hover over the wrong point if there is a static container somewhere in the  chart's ancestors.

The fix is to check if the ancestor statically positioned in `getCumulativeTransform()`. Something functionally equivalent to:

[code]

[2018-02-13 00:23] werrett commented on #3436
@adidahiya Do you have an ETA for removing the dependency?

[2018-02-13 17:03] adidahiya commented on #3436
there is a PR open to resolve this https://github.com/palantir/plottable/pull/3439

[2018-02-13 20:03] #3436 closed, assigned to nobody

[2018-02-22 00:16] bnbarak opened #3444 "Maximum call stack size exceeded"
# Bug report
## What
With Plottable version 3.7.0 and dataset size bigger than ~200,000, Plottable.js throws error when calling methods `entityNearest` or `entityNearestByXThenY` on a line chart.

## Error
[code]
Also see image:
![screen shot 2018-02-21 at 7 14 07 pm](https://user-images.githubusercontent.com/6034194/36513042-859fb02a-173b-11e8-8b1c-2790b24842f3.png)

## Example
Version 2.0 exampl

[2018-02-22 00:19] gidim commented on #3444
+1

[2018-02-28 21:00] timwis commented on #3428
Hi! Just checking in on this. I've put the project on the shelf, unfortunately. Any chance of assistance here?

[2018-03-09 23:29] timwis commented on #3428
The [full-screen demo](https://codepen.io/timwis/full/MOMgaQ/) illustrates the impact a little better. You can clearly select "july" and have it not show up in what's logged to the console, unless you start before the line to the _left_ of july.

[2018-03-26 22:42] themadcreator commented on #3444
I tried out the example using `3.8.1` and it appears to be fixed.

Also, in the example you're using x coordinates that are dates, but with a categorical scale. Try using a `Plottable.Scales.Time` instead

[2018-03-26 22:42] #3444 closed, assigned to nobody

[2018-03-26 22:50] themadcreator commented on #3435
In order to make room for the text above the label, you'll need to modify the y scale.

Try `yscale.padProportion(0.2)` which will add more padding above the stacked bars.
and try `yscale.snappingDomainEnabled(false)` which will prevent the domain from snapping to a "nice" value

[2018-03-26 22:51] themadcreator commented on #3435
We're not going to install a fix for this other than manually setting these values

[2018-03-26 22:51] #3435 closed, assigned to nobody

[2018-03-26 23:01] themadcreator commented on #3435
see http://jsfiddle.net/2bzs9eoq/1/

[2018-03-27 17:58] stevengum opened #3453 "Minified code not found at unpkg/update README.md's links"
## Bug report

Live example URL: https://unpkg.com/plottable/plottable.min.js via **unpkg** under [Quick Start](https://github.com/palantir/plottable#quick-start) on the main README.md.

Steps to repro:
1. Click on the link
1. Directed to page that indicates the following:

### Expected behavior
Be able to find the minified version of plottable.

### Actual behavior
See step 2 of repro.

### Possi

[2018-03-30 21:08] #3453 closed, assigned to nobody

[2018-04-01 18:48] chandrasekhardesireddi opened #3457 "When i mouse over the Graph, i'm getting Cannot read property 'node' of undefined"
I'm getting Following error.

ERROR TypeError: Cannot read property 'node' of undefined
    at Function.Translator.isEventInside (transformAwareTranslator.js:56)
    at Mouse.eventInside (mouseDispatcher.js:167)
    at Pointer._handleMouseEvent (pointerInteraction.js:38)
    at CallbackSet.Pointer._this._mouseMoveCallback (pointerInteraction.js:19)
    at eval (callbackSet.js:26)
    at callbackWr

[2018-04-03 11:18] keshav2k5 opened #3458 ".Destroy() throwing node of undefined exception"
ERROR TypeError: Cannot read property 'node' of undefined
    at Function.Translator.isEventInside (transformAwareTranslator.js:56)
    at Mouse.eventInside (mouseDispatcher.js:167)
    at Mouse._measureAndDispatch (mouseDispatcher.js:160)
    at HTMLDocument.Mouse._this._eventToProcessingFunction.(:4200/anonymous function) (webpack-internal:///../../../../plottable/build/src/dispatchers/mouseDisp

[2018-04-09 21:08] jrussia commented on #3170
I think it has to do with the padding that happens on quantitative scales, which can be okay on line charts (debatable whether this should be the default) but doesn't make sense on pie charts and causes percentages to get weird.

To work around this, I set the padding to 0:
scale.padProportion(0);

[2018-04-18 02:07] eddow opened #3460 "Gridlines extendability"
Hello,

In order for the Gridline class to be more extendable, shouldn't be some elements - like the values `_between?` and `_?Scale` be `protected` instead of `private`?

I here had to make a workaround by storing it in `__?Scale` from my constructor.

[2018-04-19 17:34] leemi opened #3462 "Gridlines don't line up when using useUTC flag"
## Bug report

Was trying to take advantage of #3432, but came across this bug:

Live example URL: http://jsfiddle.net/uwmf79s2/1/

Steps to repro:
1. Set Axis to UTC
1. Add Gridlines

### Expected behavior
Gridlines should line up with the Axis markings

### Actual behavior
Gridlines aren't adjusted for UTC time

### Possible Solution
Update Scales.Time's tick generator to handle UTC time

### Co